<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Наука и инновации</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1053;&#1072;&#1091;&#1082;&#1072; &#1080; &#1080;&#1085;&#1085;&#1086;&#1074;&#1072;&#1094;&#1080;&#1080;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0294cde41a234f18bf95de0bebc353af.png" alt="Наука и инновации" usemap="#id-0294cde41a234f18bf95de0bebc353afmap"/>
			   <map name="id-0294cde41a234f18bf95de0bebc353afmap">
				  		<area shape="rect" coords="754,70,874,125" href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2"  target="element">
				  				<area shape="rect" coords="574,910,694,965" href="/element/id-38b4a19e946546728dacf727d4b1891f"  target="element">
				  				<area shape="rect" coords="574,802,694,857" href="/element/id-2b70a7208dde45d2869f6809b534bbbd"  target="element">
				  				<area shape="rect" coords="346,910,466,965" href="/element/id-86fe3e863b004046b3303ea6d371f2c1"  target="element">
				  				<area shape="rect" coords="346,802,466,857" href="/element/id-4c9f55c2f8ad4bce970b1b039d8de898"  target="element">
				  				<area shape="rect" coords="1119,610,1252,665" href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7"  target="element">
				  				<area shape="rect" coords="1119,706,1252,761" href="/element/id-661d0a68b542480489bb2d086c31f8f9"  target="element">
				  				<area shape="rect" coords="125,910,245,965" href="/element/id-69503dd7f6314783a37ad7536fc1136a"  target="element">
				  				<area shape="rect" coords="922,706,1042,761" href="/element/id-d66d0284121342bdabe47ecde380d799"  target="element">
				  				<area shape="rect" coords="922,610,1042,665" href="/element/id-8995b345809e49f4bca08d0cc03a2c41"  target="element">
				  				<area shape="rect" coords="118,706,251,761" href="/element/id-8b88b4d1744645aba563d86a191d27f9"  target="element">
				  				<area shape="rect" coords="125,802,245,857" href="/element/id-79a2b56a29dd42d499f60021d3e81c51"  target="element">
				  				<area shape="rect" coords="214,610,334,665" href="/element/id-eefc072c78b94251a667f28048a8dda8"  target="element">
				  				<area shape="rect" coords="598,706,803,761" href="/element/id-3b6e87e0c33943af8de4d1466c590e0f"  target="element">
				  				<area shape="rect" coords="394,706,575,761" href="/element/id-e31d682a173f46139f099ed6697e4bbb"  target="element">
				  				<area shape="rect" coords="514,610,634,665" href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741"  target="element">
				  				<area shape="rect" coords="34,610,154,665" href="/element/id-f64d0ccc0cfe46738d5f3ac3addbbc78"  target="element">

				          <area shape="rect" coords="10,562,1379,995" href="../objects/id-440fff1c0568410aaa86e0dade0e5ac8" target="element" >
				  				<area shape="rect" coords="466,179,730,234" href="/element/id-6160f4cc459b4069bb0b953cfea2e318"  target="element">
				  				<area shape="rect" coords="478,388,598,443" href="/element/KZ-П-10-0000012"  target="element">
				  				<area shape="rect" coords="1198,388,1318,443" href="/element/KZ-П-20-0000277"  target="element">
				  				<area shape="rect" coords="1198,286,1318,341" href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c"  target="element">
				  				<area shape="rect" coords="34,388,154,443" href="/element/id-0075ede85e5745a1a5c4106ce07c8c04"  target="element">
				  				<area shape="rect" coords="322,388,442,443" href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8"  target="element">
				  				<area shape="rect" coords="1054,388,1174,443" href="/element/KZ-П-14-0000027"  target="element">
				  				<area shape="rect" coords="901,388,1021,443" href="/element/KZ-П-12-0000052"  target="element">
				  				<area shape="rect" coords="610,388,730,443" href="/element/id-7579b57eb68d4df8b15507afbf0b6306"  target="element">
				  				<area shape="rect" coords="178,388,298,443" href="/element/id-66af8a463d9d434385e8a5a313ef7215"  target="element">
				  				<area shape="rect" coords="1054,286,1174,341" href="/element/id-d53e6882af584e5eb3f3272f6a777f57"  target="element">
				  				<area shape="rect" coords="903,286,1023,341" href="/element/id-4027909a9be6495b8692ded3e74b3134"  target="element">
				  				<area shape="rect" coords="610,286,730,341" href="/element/id-5fe973a5433545d8b43ff85c8da514c2"  target="element">
				  				<area shape="rect" coords="466,286,586,341" href="/element/id-739e8e0ec6214f85834411ea750be297"  target="element">
				  				<area shape="rect" coords="322,286,442,341" href="/element/id-7d262a86eab34ae3bfbde9989b410fc3"  target="element">
				  				<area shape="rect" coords="178,286,298,341" href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3"  target="element">
				  				<area shape="rect" coords="34,286,154,341" href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3"  target="element">
				  				<area shape="rect" coords="754,179,874,234" href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b"  target="element">
				  		        <area shape="rect" coords="903,169,1018,242" href="../objects/id-6d62b68f37704646b7ea51567634da79" target="element" >
				  				<area shape="rect" coords="898,70,1018,125" href="/element/id-65217eac17764c58848675482c198bb2"  target="element">
				  				<area shape="rect" coords="610,70,730,125" href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9"  target="element">
				  				<area shape="rect" coords="34,70,154,125" href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1"  target="element">
				  				<area shape="rect" coords="322,70,442,125" href="/element/id-03d4dbd5a0b4478890221e308e03f4c5"  target="element">
				  				<area shape="rect" coords="106,178,226,233" href="/element/KZ-П-19-0000212"  target="element">
				  				<area shape="rect" coords="178,70,298,125" href="/element/id-d710311fcf24447a91c8b1973b61be99"  target="element">
				  				<area shape="rect" coords="466,70,586,125" href="/element/id-bef92529e61b4766bf0fda22565cee92"  target="element">
				  				<area shape="rect" coords="316,178,448,233" href="/element/id-b627f80b8bd8405995fd6441ef2a80ea"  target="element">

				          <area shape="rect" coords="10,10,1379,539" href="../objects/id-23d76d4650674b0ba87a94882a9f5879" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-23d76d4650674b0ba87a94882a9f5879" target="element"> &#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1103;&#1102;&#1097;&#1080;&#1077;/&#1090;&#1080;&#1087;&#1086;&#1074;&#1086;&#1081; </a> </td>
									           <td> <a href="../objects/id-23d76d4650674b0ba87a94882a9f5879" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-19-0000212" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element"> G(E)PPM </a> </td>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-6d62b68f37704646b7ea51567634da79" target="element">  </a> </td>
											           <td> <a href="../objects/id-6d62b68f37704646b7ea51567634da79" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
													    <td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
													    <td> <a href="/element/KZ-П-12-0000052" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
													    <td> <a href="/element/KZ-П-14-0000027" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000277" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
													    <td> <a href="/element/KZ-П-10-0000012" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6160f4cc459b4069bb0b953cfea2e318" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1083;&#1072;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1080; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1086;&#1074; &#1085;&#1072;&#1091;&#1095;&#1085;&#1086;&#1081; &#1076;&#1077;&#1103;&#1090;&#1077;&#1083;&#1100;&#1085;&#1086;&#1089;&#1090;&#1080; </a> </td>
													    <td> <a href="/element/id-6160f4cc459b4069bb0b953cfea2e318" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-440fff1c0568410aaa86e0dade0e5ac8" target="element"> &#1053;&#1072;&#1091;&#1082;&#1072; &#1080; &#1080;&#1085;&#1085;&#1086;&#1074;&#1072;&#1094;&#1080;&#1080; </a> </td>
									           <td> <a href="../objects/id-440fff1c0568410aaa86e0dade0e5ac8" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-f64d0ccc0cfe46738d5f3ac3addbbc78" target="element"> AI&amp;ML </a> </td>
													    <td> <a href="/element/id-f64d0ccc0cfe46738d5f3ac3addbbc78" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e31d682a173f46139f099ed6697e4bbb" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1084;&#1077;&#1085;&#1072; &#1088;&#1077;&#1079;&#1091;&#1083;&#1100;&#1090;&#1072;&#1090;&#1072;&#1084;&#1080; &#1085;&#1072;&#1091;&#1095;&#1085;&#1099;&#1093; &#1080;&#1089;&#1089;&#1083;&#1077;&#1076;&#1086;&#1074;&#1072;&#1085;&#1080;&#1081; </a> </td>
													    <td> <a href="/element/id-e31d682a173f46139f099ed6697e4bbb" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3b6e87e0c33943af8de4d1466c590e0f" target="element"> &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1085;&#1085;&#1099;&#1077; &#1085;&#1072;&#1091;&#1095;&#1085;&#1072;&#1103; &#1073;&#1080;&#1073;&#1083;&#1080;&#1086;&#1090;&#1077;&#1082;&#1072; &#1080; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1080; </a> </td>
													    <td> <a href="/element/id-3b6e87e0c33943af8de4d1466c590e0f" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-eefc072c78b94251a667f28048a8dda8" target="element"> DVS </a> </td>
													    <td> <a href="/element/id-eefc072c78b94251a667f28048a8dda8" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-79a2b56a29dd42d499f60021d3e81c51" target="element"> SCS </a> </td>
													    <td> <a href="/element/id-79a2b56a29dd42d499f60021d3e81c51" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-8b88b4d1744645aba563d86a191d27f9" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1073;&#1086;&#1083;&#1100;&#1096;&#1080;&#1093; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; &#1080; &#1048;&#1048; </a> </td>
													    <td> <a href="/element/id-8b88b4d1744645aba563d86a191d27f9" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-8995b345809e49f4bca08d0cc03a2c41" target="element"> TMS </a> </td>
													    <td> <a href="/element/id-8995b345809e49f4bca08d0cc03a2c41" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d66d0284121342bdabe47ecde380d799" target="element"> &#1052;&#1048;&#1057; &#1041;&#1086;&#1083;&#1072;&#1096;&#1072;&#1082; </a> </td>
													    <td> <a href="/element/id-d66d0284121342bdabe47ecde380d799" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-69503dd7f6314783a37ad7536fc1136a" target="element"> &#1040;&#1055;&#1050; &#1085;&#1072;&#1091;&#1095;&#1085;&#1099;&#1093; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1081; </a> </td>
													    <td> <a href="/element/id-69503dd7f6314783a37ad7536fc1136a" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-661d0a68b542480489bb2d086c31f8f9" target="element"> &#1048;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1050;&#1072;&#1079;&#1087;&#1072;&#1090;&#1077;&#1085;&#1090; </a> </td>
													    <td> <a href="/element/id-661d0a68b542480489bb2d086c31f8f9" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4c9f55c2f8ad4bce970b1b039d8de898" target="element"> PMS </a> </td>
													    <td> <a href="/element/id-4c9f55c2f8ad4bce970b1b039d8de898" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-86fe3e863b004046b3303ea6d371f2c1" target="element"> &#1040;&#1048;&#1057; &#1040;&#1054; "&#1053;&#1062;&#1043;&#1053;&#1058;&#1069;" </a> </td>
													    <td> <a href="/element/id-86fe3e863b004046b3303ea6d371f2c1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-38b4a19e946546728dacf727d4b1891f" target="element"> &#1040;&#1048;&#1057; &#1053;&#1048;&#1048;&#1057; </a> </td>
													    <td> <a href="/element/id-38b4a19e946546728dacf727d4b1891f" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-f3fd2ef48a6e4e229df137a8a8016821" target="element">  </a> </td>
																				<td> <a href="/element/id-f3fd2ef48a6e4e229df137a8a8016821" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
																				<td> <a href="/element/id-6160f4cc459b4069bb0b953cfea2e318" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1083;&#1072;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1080; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1086;&#1074; &#1085;&#1072;&#1091;&#1095;&#1085;&#1086;&#1081; &#1076;&#1077;&#1103;&#1090;&#1077;&#1083;&#1100;&#1085;&#1086;&#1089;&#1090;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element">  </a> </td>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element">  </a> </td>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
																				<td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element">  </a> </td>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-b1a8b013426847509fe517051c919e08" target="element">  </a> </td>
																				<td> <a href="/element/id-b1a8b013426847509fe517051c919e08" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element"> G(E)PPM </a> </td>
																				<td> <a href="/element/id-6160f4cc459b4069bb0b953cfea2e318" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1083;&#1072;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1080; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1086;&#1074; &#1085;&#1072;&#1091;&#1095;&#1085;&#1086;&#1081; &#1076;&#1077;&#1103;&#1090;&#1077;&#1083;&#1100;&#1085;&#1086;&#1089;&#1090;&#1080; </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element">  </a> </td>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
																				<td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-843e2ccb1e2e4bac85731bfa7b39c06a" target="element">  </a> </td>
																				<td> <a href="/element/id-843e2ccb1e2e4bac85731bfa7b39c06a" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
																				<td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element">  </a> </td>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
																				<td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-99bd2e3e6dd0436390d2ecf3c62a7929" target="element">  </a> </td>
																				<td> <a href="/element/id-99bd2e3e6dd0436390d2ecf3c62a7929" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element">  </a> </td>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
																				<td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element">  </a> </td>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element">  </a> </td>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
																				<td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element">  </a> </td>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
																				<td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-acea26405d7c4495976ff51c86412807" target="element">  </a> </td>
																				<td> <a href="/element/id-acea26405d7c4495976ff51c86412807" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-f64d0ccc0cfe46738d5f3ac3addbbc78" target="element"> AI&amp;ML </a> </td>
																				<td> <a href="/element/id-8b88b4d1744645aba563d86a191d27f9" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1073;&#1086;&#1083;&#1100;&#1096;&#1080;&#1093; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; &#1080; &#1048;&#1048; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-e18a2ea5d6e746a7bebce3f120a11ade" target="element">  </a> </td>
																				<td> <a href="/element/id-e18a2ea5d6e746a7bebce3f120a11ade" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/id-e31d682a173f46139f099ed6697e4bbb" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1084;&#1077;&#1085;&#1072; &#1088;&#1077;&#1079;&#1091;&#1083;&#1100;&#1090;&#1072;&#1090;&#1072;&#1084;&#1080; &#1085;&#1072;&#1091;&#1095;&#1085;&#1099;&#1093; &#1080;&#1089;&#1089;&#1083;&#1077;&#1076;&#1086;&#1074;&#1072;&#1085;&#1080;&#1081; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-911a5765956a466ba722da16984a7763" target="element">  </a> </td>
																				<td> <a href="/element/id-911a5765956a466ba722da16984a7763" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/id-3b6e87e0c33943af8de4d1466c590e0f" target="element"> &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1085;&#1085;&#1099;&#1077; &#1085;&#1072;&#1091;&#1095;&#1085;&#1072;&#1103; &#1073;&#1080;&#1073;&#1083;&#1080;&#1086;&#1090;&#1077;&#1082;&#1072; &#1080; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-dfc0a674ebba4d8c979ec395c53feee0" target="element">  </a> </td>
																				<td> <a href="/element/id-dfc0a674ebba4d8c979ec395c53feee0" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-eefc072c78b94251a667f28048a8dda8" target="element"> DVS </a> </td>
																				<td> <a href="/element/id-8b88b4d1744645aba563d86a191d27f9" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1073;&#1086;&#1083;&#1100;&#1096;&#1080;&#1093; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; &#1080; &#1048;&#1048; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-dcf2007eed8042769b4f280a849458a1" target="element">  </a> </td>
																				<td> <a href="/element/id-dcf2007eed8042769b4f280a849458a1" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-79a2b56a29dd42d499f60021d3e81c51" target="element"> SCS </a> </td>
																				<td> <a href="/element/id-69503dd7f6314783a37ad7536fc1136a" target="element"> &#1040;&#1055;&#1050; &#1085;&#1072;&#1091;&#1095;&#1085;&#1099;&#1093; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1081; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-85052f4b4d614de1b1772e606a78bb0c" target="element">  </a> </td>
																				<td> <a href="/element/id-85052f4b4d614de1b1772e606a78bb0c" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-8995b345809e49f4bca08d0cc03a2c41" target="element"> TMS </a> </td>
																				<td> <a href="/element/id-d66d0284121342bdabe47ecde380d799" target="element"> &#1052;&#1048;&#1057; &#1041;&#1086;&#1083;&#1072;&#1096;&#1072;&#1082; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f1563693797c47e48bd7545a14c110e4" target="element">  </a> </td>
																				<td> <a href="/element/id-f1563693797c47e48bd7545a14c110e4" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element"> LMS </a> </td>
																				<td> <a href="/element/id-661d0a68b542480489bb2d086c31f8f9" target="element"> &#1048;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1050;&#1072;&#1079;&#1087;&#1072;&#1090;&#1077;&#1085;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-1ec11b8b4cd24c67baa42ad1d95300b7" target="element">  </a> </td>
																				<td> <a href="/element/id-1ec11b8b4cd24c67baa42ad1d95300b7" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-4c9f55c2f8ad4bce970b1b039d8de898" target="element"> PMS </a> </td>
																				<td> <a href="/element/id-86fe3e863b004046b3303ea6d371f2c1" target="element"> &#1040;&#1048;&#1057; &#1040;&#1054; "&#1053;&#1062;&#1043;&#1053;&#1058;&#1069;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-e3ab7c1b67e54e9fa77f169887ef6978" target="element">  </a> </td>
																				<td> <a href="/element/id-e3ab7c1b67e54e9fa77f169887ef6978" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
																				<td> <a href="/element/id-38b4a19e946546728dacf727d4b1891f" target="element"> &#1040;&#1048;&#1057; &#1053;&#1048;&#1048;&#1057; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element">  </a> </td>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
																		<td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>