<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Промышленность</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1055;&#1088;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1086;&#1089;&#1090;&#1100;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1bcc7356cb6146308457ee2a0bb6179c.png" alt="Промышленность" usemap="#id-1bcc7356cb6146308457ee2a0bb6179cmap"/>
			   <map name="id-1bcc7356cb6146308457ee2a0bb6179cmap">
				  				<area shape="rect" coords="610,1210,730,1265" href="/element/KZ-П-20-0000254"  target="element">
				  				<area shape="rect" coords="909,1210,1163,1265" href="/element/id-cacd3a5986bd4a87a1c0f0e52e0390b1"  target="element">
				  				<area shape="rect" coords="1162,1102,1282,1157" href="/element/id-a1215e1524d84d14954c74913a9f01dc"  target="element">
				  				<area shape="rect" coords="982,1102,1102,1157" href="/element/id-8a07f597dde54991a0436fb981bc6577"  target="element">
				  				<area shape="rect" coords="790,1102,910,1157" href="/element/id-b11121b8fd844f3aa59bb8f556b41036"  target="element">
				  				<area shape="rect" coords="406,1210,575,1265" href="/element/id-672ae732d5404716af3bbe9296522c9d"  target="element">
				  				<area shape="rect" coords="526,1102,646,1157" href="/element/id-e773a0f87d154164af189278bf85eebd"  target="element">
				  				<area shape="rect" coords="431,1306,551,1361" href="/element/id-2e4f83f2e50e4a028b754e862c275a33"  target="element">
				  				<area shape="rect" coords="166,1102,286,1157" href="/element/id-6b707a7adc354a24bee78e195ffb8f00"  target="element">
				  				<area shape="rect" coords="35,1306,155,1361" href="/element/id-45b2ceec4a664640a0c612ebe7a029ed"  target="element">
				  				<area shape="rect" coords="34,1210,227,1265" href="/element/id-6294db39ceda4a22bacb8f552dd01c49"  target="element">
				  				<area shape="rect" coords="261,1210,381,1265" href="/element/id-f56b1cdd362a4047b804b1bcd8c9ef1b"  target="element">

				          <area shape="rect" coords="10,1066,1379,1367" href="../objects/id-150a3b90c12946738135d33e63e71eaa" target="element" >
				  		<area shape="rect" coords="766,70,886,125" href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2"  target="element">
				  				<area shape="rect" coords="632,706,752,761" href="/element/id-c353dd91b06c479197ee011952ed03dd"  target="element">
				  				<area shape="rect" coords="34,706,154,761" href="/element/id-79b7c52cec564c01ba8627d345a7f416"  target="element">
				  				<area shape="rect" coords="1030,802,1150,857" href="/element/id-f2b2578c3d334b258d0e90d8f19061d0"  target="element">
				  				<area shape="rect" coords="1030,909,1150,964" href="/element/id-be6ba2b6dc484f14971d116b2083752f"  target="element">
				  				<area shape="rect" coords="838,909,958,964" href="/element/id-5dc71a8283c740d295bc46524c2b425a"  target="element">
				  				<area shape="rect" coords="632,909,752,964" href="/element/id-99efc139b1f44ec9baca43d00dd85537"  target="element">
				  				<area shape="rect" coords="428,909,548,964" href="/element/id-3a3bbdb275354ff2b90b5fd3aedb8fe2"  target="element">
				  				<area shape="rect" coords="838,802,958,857" href="/element/id-e773a0f87d154164af189278bf85eebd"  target="element">
				  				<area shape="rect" coords="632,802,752,857" href="/element/id-833a68ebcbea499b8a322c1db75136cc"  target="element">
				  				<area shape="rect" coords="428,802,548,857" href="/element/id-03b50c55a00f4f2bb05abab6d816f7e2"  target="element">
				  				<area shape="rect" coords="34,802,154,857" href="/element/id-3900aa0019e44176af2dc29b65d23b0b"  target="element">
				  				<area shape="rect" coords="226,802,346,857" href="/element/id-7f2dce6a51c14661ac697a5a8e71d7b2"  target="element">
				  				<area shape="rect" coords="345,706,465,761" href="/element/KZ-П-10-0000011"  target="element">
				  				<area shape="rect" coords="190,598,310,653" href="/element/id-3bbf08b26e99487da597e39658b986f5"  target="element">
				  				<area shape="rect" coords="632,598,752,653" href="/element/id-1d20b201fe394effba227c0b708f7834"  target="element">
				  				<area shape="rect" coords="226,909,346,964" href="/element/id-1820cbc8f9a3442ca9f114dae46e7898"  target="element">
				  				<area shape="rect" coords="428,598,548,653" href="/element/id-4d688b8541e94ce1a20e1f19da7b4d3e"  target="element">
				  				<area shape="rect" coords="34,598,154,653" href="/element/id-71f04ba01919471fac1d3fa319da443d"  target="element">
				  				<area shape="rect" coords="34,909,154,964" href="/element/id-170e3fc0cc1e404fb0c71da19e71cdfb"  target="element">

				          <area shape="rect" coords="10,562,1379,1043" href="../objects/id-c3e3653730644c38afc0d56b7708e7cd" target="element" >
				  				<area shape="rect" coords="1234,179,1354,234" href="/element/id-f6a8970fcb3e417a863a5d69cd65ae11"  target="element">
				  				<area shape="rect" coords="1234,70,1354,125" href="/element/id-6ba94f94dc3141dab7bdb3ef60d4d8e3"  target="element">
				  				<area shape="rect" coords="766,466,886,521" href="/element/id-79b7c52cec564c01ba8627d345a7f416"  target="element">
				  				<area shape="rect" coords="471,179,754,233" href="/element/id-6bd2d5b27ccb4dfb8e716fa7e6a3922d"  target="element">
				  				<area shape="rect" coords="1066,388,1186,443" href="/element/KZ-П-20-0000277"  target="element">
				  				<area shape="rect" coords="1066,286,1186,341" href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c"  target="element">
				  				<area shape="rect" coords="34,388,154,443" href="/element/id-0075ede85e5745a1a5c4106ce07c8c04"  target="element">
				  				<area shape="rect" coords="322,388,442,443" href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8"  target="element">
				  				<area shape="rect" coords="1066,179,1186,234" href="/element/KZ-П-14-0000027"  target="element">
				  				<area shape="rect" coords="913,388,1033,443" href="/element/KZ-П-12-0000052"  target="element">
				  				<area shape="rect" coords="622,388,742,443" href="/element/id-7579b57eb68d4df8b15507afbf0b6306"  target="element">
				  				<area shape="rect" coords="178,388,298,443" href="/element/id-66af8a463d9d434385e8a5a313ef7215"  target="element">
				  				<area shape="rect" coords="1066,70,1186,125" href="/element/id-d53e6882af584e5eb3f3272f6a777f57"  target="element">
				  				<area shape="rect" coords="915,286,1035,341" href="/element/id-4027909a9be6495b8692ded3e74b3134"  target="element">
				  				<area shape="rect" coords="766,286,886,341" href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741"  target="element">
				  				<area shape="rect" coords="622,286,742,341" href="/element/id-5fe973a5433545d8b43ff85c8da514c2"  target="element">
				  				<area shape="rect" coords="478,286,598,341" href="/element/id-739e8e0ec6214f85834411ea750be297"  target="element">
				  				<area shape="rect" coords="322,286,442,341" href="/element/id-7d262a86eab34ae3bfbde9989b410fc3"  target="element">
				  				<area shape="rect" coords="178,286,298,341" href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3"  target="element">
				  				<area shape="rect" coords="34,286,154,341" href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3"  target="element">
				  				<area shape="rect" coords="766,179,886,234" href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b"  target="element">
				  		        <area shape="rect" coords="915,179,1035,233" href="../objects/id-36ba5986df8649aaad19c219afd52b71" target="element" >
				  				<area shape="rect" coords="634,70,754,125" href="/element/id-65217eac17764c58848675482c198bb2"  target="element">
				  				<area shape="rect" coords="915,70,1035,125" href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9"  target="element">
				  				<area shape="rect" coords="34,70,154,125" href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1"  target="element">
				  				<area shape="rect" coords="322,70,442,125" href="/element/id-03d4dbd5a0b4478890221e308e03f4c5"  target="element">
				  				<area shape="rect" coords="106,178,226,233" href="/element/KZ-П-19-0000212"  target="element">
				  				<area shape="rect" coords="178,70,298,125" href="/element/id-d710311fcf24447a91c8b1973b61be99"  target="element">
				  				<area shape="rect" coords="478,70,598,125" href="/element/id-bef92529e61b4766bf0fda22565cee92"  target="element">
				  				<area shape="rect" coords="322,178,442,233" href="/element/id-b627f80b8bd8405995fd6441ef2a80ea"  target="element">

				          <area shape="rect" coords="10,10,1379,539" href="../objects/id-9c5e1c70a38946cba20d01b0a8759b8a" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9c5e1c70a38946cba20d01b0a8759b8a" target="element"> &#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1103;&#1102;&#1097;&#1080;&#1077;/&#1090;&#1080;&#1087;&#1086;&#1074;&#1086;&#1081; </a> </td>
									           <td> <a href="../objects/id-9c5e1c70a38946cba20d01b0a8759b8a" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-19-0000212" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element"> G(E)PPM </a> </td>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-36ba5986df8649aaad19c219afd52b71" target="element">  </a> </td>
											           <td> <a href="../objects/id-36ba5986df8649aaad19c219afd52b71" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
													    <td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
													    <td> <a href="/element/KZ-П-12-0000052" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
													    <td> <a href="/element/KZ-П-14-0000027" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000277" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6bd2d5b27ccb4dfb8e716fa7e6a3922d" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1088;&#1086;&#1075;&#1085;&#1086;&#1079;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1080; &#1084;&#1086;&#1076;&#1077;&#1083;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1084;&#1077;&#1088;. &#1075;&#1086;&#1089;&#1087;&#1086;&#1076;&#1076;&#1077;&#1088;&#1078;&#1082;&#1080; &#1087;&#1088;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1099;&#1084; &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;&#1084; </a> </td>
													    <td> <a href="/element/id-6bd2d5b27ccb4dfb8e716fa7e6a3922d" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1094;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1090;&#1088;&#1072;&#1085;&#1089;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
													    <td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6ba94f94dc3141dab7bdb3ef60d4d8e3" target="element"> DM/DMT </a> </td>
													    <td> <a href="/element/id-6ba94f94dc3141dab7bdb3ef60d4d8e3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-f6a8970fcb3e417a863a5d69cd65ae11" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1073;&#1086;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
													    <td> <a href="/element/id-f6a8970fcb3e417a863a5d69cd65ae11" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c3e3653730644c38afc0d56b7708e7cd" target="element"> &#1054;&#1073;&#1088;&#1072;&#1073;&#1072;&#1090;&#1099;&#1074;&#1072;&#1102;&#1097;&#1072;&#1103; &#1087;&#1088;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1086;&#1089;&#1090;&#1100; </a> </td>
									           <td> <a href="../objects/id-c3e3653730644c38afc0d56b7708e7cd" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-170e3fc0cc1e404fb0c71da19e71cdfb" target="element"> EQMS </a> </td>
													    <td> <a href="/element/id-170e3fc0cc1e404fb0c71da19e71cdfb" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element"> CCPM </a> </td>
													    <td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4d688b8541e94ce1a20e1f19da7b4d3e" target="element"> EAM </a> </td>
													    <td> <a href="/element/id-4d688b8541e94ce1a20e1f19da7b4d3e" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-1820cbc8f9a3442ca9f114dae46e7898" target="element"> MMPS </a> </td>
													    <td> <a href="/element/id-1820cbc8f9a3442ca9f114dae46e7898" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-1d20b201fe394effba227c0b708f7834" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-1d20b201fe394effba227c0b708f7834" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3bbf08b26e99487da597e39658b986f5" target="element"> ConMS </a> </td>
													    <td> <a href="/element/id-3bbf08b26e99487da597e39658b986f5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-10-0000011" target="element"> &#1048;&#1055;&#1050;&#1057; </a> </td>
													    <td> <a href="/element/KZ-П-10-0000011" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7f2dce6a51c14661ac697a5a8e71d7b2" target="element"> SCADA </a> </td>
													    <td> <a href="/element/id-7f2dce6a51c14661ac697a5a8e71d7b2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3900aa0019e44176af2dc29b65d23b0b" target="element"> MES </a> </td>
													    <td> <a href="/element/id-3900aa0019e44176af2dc29b65d23b0b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-03b50c55a00f4f2bb05abab6d816f7e2" target="element"> PLS </a> </td>
													    <td> <a href="/element/id-03b50c55a00f4f2bb05abab6d816f7e2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-833a68ebcbea499b8a322c1db75136cc" target="element"> DCS </a> </td>
													    <td> <a href="/element/id-833a68ebcbea499b8a322c1db75136cc" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element"> CAD/CAM </a> </td>
													    <td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3a3bbdb275354ff2b90b5fd3aedb8fe2" target="element"> EHSS </a> </td>
													    <td> <a href="/element/id-3a3bbdb275354ff2b90b5fd3aedb8fe2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-99efc139b1f44ec9baca43d00dd85537" target="element"> LGMS </a> </td>
													    <td> <a href="/element/id-99efc139b1f44ec9baca43d00dd85537" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5dc71a8283c740d295bc46524c2b425a" target="element"> MRO/OMS </a> </td>
													    <td> <a href="/element/id-5dc71a8283c740d295bc46524c2b425a" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-be6ba2b6dc484f14971d116b2083752f" target="element"> SCM </a> </td>
													    <td> <a href="/element/id-be6ba2b6dc484f14971d116b2083752f" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-f2b2578c3d334b258d0e90d8f19061d0" target="element"> SMT </a> </td>
													    <td> <a href="/element/id-f2b2578c3d334b258d0e90d8f19061d0" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1094;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1090;&#1088;&#1072;&#1085;&#1089;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
													    <td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c353dd91b06c479197ee011952ed03dd" target="element"> &#1048;&#1048;&#1057; "&#1077;-&#1057;&#1090;&#1072;&#1090;&#1080;&#1089;&#1090;&#1080;&#1082;&#1072;" </a> </td>
													    <td> <a href="/element/id-c353dd91b06c479197ee011952ed03dd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-150a3b90c12946738135d33e63e71eaa" target="element"> &#1040;&#1101;&#1088;&#1086;&#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1087;&#1088;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1086;&#1089;&#1090;&#1100; </a> </td>
									           <td> <a href="../objects/id-150a3b90c12946738135d33e63e71eaa" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-f56b1cdd362a4047b804b1bcd8c9ef1b" target="element"> &#1050;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1044;&#1047;&#1047; </a> </td>
													    <td> <a href="/element/id-f56b1cdd362a4047b804b1bcd8c9ef1b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6294db39ceda4a22bacb8f552dd01c49" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1073;&#1086;&#1088;&#1072;, &#1086;&#1073;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080;, &#1093;&#1088;&#1072;&#1085;&#1077;&#1085;&#1080;&#1103;, &#1088;&#1072;&#1089;&#1087;&#1088;&#1086;&#1089;&#1090;&#1088;&#1072;&#1085;&#1077;&#1085;&#1080;&#1103; &#1087;&#1088;&#1086;&#1089;&#1090;&#1088;&#1072;&#1085;&#1089;&#1090;&#1074;&#1077;&#1085;&#1085;&#1099;&#1093; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; </a> </td>
													    <td> <a href="/element/id-6294db39ceda4a22bacb8f552dd01c49" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-45b2ceec4a664640a0c612ebe7a029ed" target="element"> GPS </a> </td>
													    <td> <a href="/element/id-45b2ceec4a664640a0c612ebe7a029ed" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element"> GIS </a> </td>
													    <td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2e4f83f2e50e4a028b754e862c275a33" target="element"> AMT/FMS </a> </td>
													    <td> <a href="/element/id-2e4f83f2e50e4a028b754e862c275a33" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element"> CAD/CAM </a> </td>
													    <td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-672ae732d5404716af3bbe9296522c9d" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1095;&#1077;&#1090;&#1072; &#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1093; &#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1086;&#1074; &#1080; &#1080;&#1093; &#1090;&#1077;&#1093;&#1085;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1093; &#1089;&#1088;&#1077;&#1076;&#1089;&#1090;&#1074; </a> </td>
													    <td> <a href="/element/id-672ae732d5404716af3bbe9296522c9d" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-b11121b8fd844f3aa59bb8f556b41036" target="element"> CaS </a> </td>
													    <td> <a href="/element/id-b11121b8fd844f3aa59bb8f556b41036" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-8a07f597dde54991a0436fb981bc6577" target="element"> CCMS </a> </td>
													    <td> <a href="/element/id-8a07f597dde54991a0436fb981bc6577" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-a1215e1524d84d14954c74913a9f01dc" target="element"> DCOO </a> </td>
													    <td> <a href="/element/id-a1215e1524d84d14954c74913a9f01dc" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cacd3a5986bd4a87a1c0f0e52e0390b1" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1081; &#1080;&#1085;&#1092;&#1088;&#1072;&#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1086;&#1081; </a> </td>
													    <td> <a href="/element/id-cacd3a5986bd4a87a1c0f0e52e0390b1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000254" target="element"> &#1048;&#1057; &#1057;&#1059;&#1040;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000254" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-6b2cdc6d2b9245cb890affbe0d58620c" target="element">  </a> </td>
																				<td> <a href="/element/id-6b2cdc6d2b9245cb890affbe0d58620c" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
																				<td> <a href="/element/id-6bd2d5b27ccb4dfb8e716fa7e6a3922d" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1088;&#1086;&#1075;&#1085;&#1086;&#1079;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1080; &#1084;&#1086;&#1076;&#1077;&#1083;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1084;&#1077;&#1088;. &#1075;&#1086;&#1089;&#1087;&#1086;&#1076;&#1076;&#1077;&#1088;&#1078;&#1082;&#1080; &#1087;&#1088;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1099;&#1084; &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;&#1084; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element">  </a> </td>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element">  </a> </td>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
																				<td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element">  </a> </td>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-04a5294422b34b43a705355f2dadf186" target="element">  </a> </td>
																				<td> <a href="/element/id-04a5294422b34b43a705355f2dadf186" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element"> RMS </a> </td>
																				<td> <a href="/element/id-6bd2d5b27ccb4dfb8e716fa7e6a3922d" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1088;&#1086;&#1075;&#1085;&#1086;&#1079;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1080; &#1084;&#1086;&#1076;&#1077;&#1083;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1084;&#1077;&#1088;. &#1075;&#1086;&#1089;&#1087;&#1086;&#1076;&#1076;&#1077;&#1088;&#1078;&#1082;&#1080; &#1087;&#1088;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1099;&#1084; &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;&#1084; </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element">  </a> </td>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
																				<td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-843e2ccb1e2e4bac85731bfa7b39c06a" target="element">  </a> </td>
																				<td> <a href="/element/id-843e2ccb1e2e4bac85731bfa7b39c06a" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
																				<td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element">  </a> </td>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
																				<td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-c0a2130a16b94416a554d615a077c5de" target="element">  </a> </td>
																				<td> <a href="/element/id-c0a2130a16b94416a554d615a077c5de" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
																				<td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1094;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1090;&#1088;&#1072;&#1085;&#1089;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element">  </a> </td>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
																				<td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-bf189120e1cf4e6c968a7e0d7f27ca6c" target="element">  </a> </td>
																				<td> <a href="/element/id-bf189120e1cf4e6c968a7e0d7f27ca6c" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1094;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1090;&#1088;&#1072;&#1085;&#1089;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element">  </a> </td>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element">  </a> </td>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
																				<td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element">  </a> </td>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
																				<td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-101ec04608eb40a0947aefcfc5456f29" target="element">  </a> </td>
																				<td> <a href="/element/id-101ec04608eb40a0947aefcfc5456f29" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-6ba94f94dc3141dab7bdb3ef60d4d8e3" target="element"> DM/DMT </a> </td>
																				<td> <a href="/element/id-f6a8970fcb3e417a863a5d69cd65ae11" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1073;&#1086;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-a0834e06a8494d83b1163cfb09a7a215" target="element">  </a> </td>
																				<td> <a href="/element/id-a0834e06a8494d83b1163cfb09a7a215" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element"> CCPM </a> </td>
																				<td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1094;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1090;&#1088;&#1072;&#1085;&#1089;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-a73b85712b304922a1fe78574533917e" target="element">  </a> </td>
																				<td> <a href="/element/id-a73b85712b304922a1fe78574533917e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-4d688b8541e94ce1a20e1f19da7b4d3e" target="element"> EAM </a> </td>
																				<td> <a href="/element/KZ-П-10-0000011" target="element"> &#1048;&#1055;&#1050;&#1057; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-057f0fa6de9c4c6991d57be7791b19e6" target="element">  </a> </td>
																				<td> <a href="/element/id-057f0fa6de9c4c6991d57be7791b19e6" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-1d20b201fe394effba227c0b708f7834" target="element"> RMS </a> </td>
																				<td> <a href="/element/id-c353dd91b06c479197ee011952ed03dd" target="element"> &#1048;&#1048;&#1057; "&#1077;-&#1057;&#1090;&#1072;&#1090;&#1080;&#1089;&#1090;&#1080;&#1082;&#1072;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-ff7dd4ada8684b19809b1e46b8704799" target="element">  </a> </td>
																				<td> <a href="/element/id-ff7dd4ada8684b19809b1e46b8704799" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-3bbf08b26e99487da597e39658b986f5" target="element"> ConMS </a> </td>
																				<td> <a href="/element/id-79b7c52cec564c01ba8627d345a7f416" target="element"> &#1055;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1072; &#1094;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1090;&#1088;&#1072;&#1085;&#1089;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1080; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element">  </a> </td>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
																		<td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-a076c777743145dcb47e1881120bb578" target="element">  </a> </td>
																				<td> <a href="/element/id-a076c777743145dcb47e1881120bb578" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element"> GIS </a> </td>
																				<td> <a href="/element/id-6294db39ceda4a22bacb8f552dd01c49" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1073;&#1086;&#1088;&#1072;, &#1086;&#1073;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080;, &#1093;&#1088;&#1072;&#1085;&#1077;&#1085;&#1080;&#1103;, &#1088;&#1072;&#1089;&#1087;&#1088;&#1086;&#1089;&#1090;&#1088;&#1072;&#1085;&#1077;&#1085;&#1080;&#1103; &#1087;&#1088;&#1086;&#1089;&#1090;&#1088;&#1072;&#1085;&#1089;&#1090;&#1074;&#1077;&#1085;&#1085;&#1099;&#1093; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-8a81f9e06bc5409fa07e74fb4af099c1" target="element">  </a> </td>
																				<td> <a href="/element/id-8a81f9e06bc5409fa07e74fb4af099c1" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element"> GIS </a> </td>
																				<td> <a href="/element/id-f56b1cdd362a4047b804b1bcd8c9ef1b" target="element"> &#1050;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1044;&#1047;&#1047; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-821df92817024baaa0e42417de6287e0" target="element">  </a> </td>
																				<td> <a href="/element/id-821df92817024baaa0e42417de6287e0" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element"> CAD/CAM </a> </td>
																				<td> <a href="/element/id-672ae732d5404716af3bbe9296522c9d" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1095;&#1077;&#1090;&#1072; &#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1093; &#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1086;&#1074; &#1080; &#1080;&#1093; &#1090;&#1077;&#1093;&#1085;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1093; &#1089;&#1088;&#1077;&#1076;&#1089;&#1090;&#1074; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-6dcb4125578c40eaa7b31b3ba9b3792f" target="element">  </a> </td>
																				<td> <a href="/element/id-6dcb4125578c40eaa7b31b3ba9b3792f" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element"> CAD/CAM </a> </td>
																				<td> <a href="/element/KZ-П-20-0000254" target="element"> &#1048;&#1057; &#1057;&#1059;&#1040;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-b9694fc6f1314f179898dca6f591471c" target="element">  </a> </td>
																				<td> <a href="/element/id-b9694fc6f1314f179898dca6f591471c" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-b11121b8fd844f3aa59bb8f556b41036" target="element"> CaS </a> </td>
																				<td> <a href="/element/id-cacd3a5986bd4a87a1c0f0e52e0390b1" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1081; &#1080;&#1085;&#1092;&#1088;&#1072;&#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1086;&#1081; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-3f19220e31c648659584bab73147bfbe" target="element">  </a> </td>
																				<td> <a href="/element/id-3f19220e31c648659584bab73147bfbe" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-8a07f597dde54991a0436fb981bc6577" target="element"> CCMS </a> </td>
																				<td> <a href="/element/id-cacd3a5986bd4a87a1c0f0e52e0390b1" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1081; &#1080;&#1085;&#1092;&#1088;&#1072;&#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1086;&#1081; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-761cbda3bb5c4580ac331f31fe3d61dc" target="element">  </a> </td>
																				<td> <a href="/element/id-761cbda3bb5c4580ac331f31fe3d61dc" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-a1215e1524d84d14954c74913a9f01dc" target="element"> DCOO </a> </td>
																				<td> <a href="/element/id-cacd3a5986bd4a87a1c0f0e52e0390b1" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1089;&#1084;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1081; &#1080;&#1085;&#1092;&#1088;&#1072;&#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1086;&#1081; </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>