<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Бизнес</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1041;&#1080;&#1079;&#1085;&#1077;&#1089;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-21fef6ba16d64c179847f60d8c2909cb.png" alt="Бизнес" usemap="#id-21fef6ba16d64c179847f60d8c2909cbmap"/>
			   <map name="id-21fef6ba16d64c179847f60d8c2909cbmap">
				  		<area shape="rect" coords="814,70,934,125" href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2"  target="element">
				  				<area shape="rect" coords="274,802,394,857" href="/element/id-5ae86a4355b04fc993c2f85c5edbf8b1"  target="element">
				  				<area shape="rect" coords="99,910,232,965" href="/element/id-ed95c90271e545a18f0ba1106daac4db"  target="element">
				  				<area shape="rect" coords="778,598,898,653" href="/element/id-eefc072c78b94251a667f28048a8dda8"  target="element">
				  				<area shape="rect" coords="610,598,730,653" href="/element/id-8364b86fc2634cd39b3a72c8cd0c9351"  target="element">
				  				<area shape="rect" coords="682,718,802,773" href="/element/id-bc3217e16d4e4ab9988f18bd5dd3d678"  target="element">
				  				<area shape="rect" coords="790,910,910,965" href="/element/id-b8daa7da64bd496babd0febb0efac82e"  target="element">
				  				<area shape="rect" coords="790,802,910,857" href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7"  target="element">
				  				<area shape="rect" coords="262,598,382,653" href="/element/id-705b3505207b4df5adb1c8ff6b3d39ce"  target="element">
				  				<area shape="rect" coords="190,718,310,773" href="/element/id-679f08d0217b46a4aacda656317b7558"  target="element">
				  				<area shape="rect" coords="1066,718,1186,773" href="/element/id-0f193d6087df4db29a3aa520ee829ee4"  target="element">
				  				<area shape="rect" coords="970,598,1090,653" href="/element/id-e773a0f87d154164af189278bf85eebd"  target="element">
				  				<area shape="rect" coords="1162,598,1282,653" href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7"  target="element">
				  				<area shape="rect" coords="34,718,154,773" href="/element/id-40115ec2305344ddb5e439579ff3770e"  target="element">
				  				<area shape="rect" coords="442,598,562,653" href="/element/id-1d20b201fe394effba227c0b708f7834"  target="element">
				  				<area shape="rect" coords="106,598,226,653" href="/element/id-71f04ba01919471fac1d3fa319da443d"  target="element">

				          <area shape="rect" coords="10,562,1379,995" href="../objects/id-8ed170e8c2e04c2188f4490f66a792f9" target="element" >
				  				<area shape="rect" coords="454,169,647,242" href="/element/id-c58f0a8f5288464d9a2dcbbf20ad9954"  target="element">
				  				<area shape="rect" coords="1198,388,1318,443" href="/element/KZ-П-20-0000277"  target="element">
				  				<area shape="rect" coords="1198,286,1318,341" href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c"  target="element">
				  				<area shape="rect" coords="34,388,154,443" href="/element/id-0075ede85e5745a1a5c4106ce07c8c04"  target="element">
				  				<area shape="rect" coords="322,388,442,443" href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8"  target="element">
				  				<area shape="rect" coords="1054,388,1174,443" href="/element/KZ-П-14-0000027"  target="element">
				  				<area shape="rect" coords="901,388,1021,443" href="/element/KZ-П-12-0000052"  target="element">
				  				<area shape="rect" coords="610,388,730,443" href="/element/id-7579b57eb68d4df8b15507afbf0b6306"  target="element">
				  				<area shape="rect" coords="178,388,298,443" href="/element/id-66af8a463d9d434385e8a5a313ef7215"  target="element">
				  				<area shape="rect" coords="610,466,730,521" href="/element/KZ-П-10-0000012"  target="element">
				  				<area shape="rect" coords="1054,286,1174,341" href="/element/id-d53e6882af584e5eb3f3272f6a777f57"  target="element">
				  				<area shape="rect" coords="903,286,1023,341" href="/element/id-4027909a9be6495b8692ded3e74b3134"  target="element">
				  				<area shape="rect" coords="754,286,874,341" href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741"  target="element">
				  				<area shape="rect" coords="610,286,730,341" href="/element/id-5fe973a5433545d8b43ff85c8da514c2"  target="element">
				  				<area shape="rect" coords="466,286,586,341" href="/element/id-739e8e0ec6214f85834411ea750be297"  target="element">
				  				<area shape="rect" coords="322,286,442,341" href="/element/id-7d262a86eab34ae3bfbde9989b410fc3"  target="element">
				  				<area shape="rect" coords="178,286,298,341" href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3"  target="element">
				  				<area shape="rect" coords="34,286,154,341" href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3"  target="element">
				  				<area shape="rect" coords="814,179,934,234" href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b"  target="element">
				  		        <area shape="rect" coords="963,169,1078,242" href="../objects/id-2bf6d0a584444e4bb32f3c8955cf8344" target="element" >
				  		        <area shape="rect" coords="670,179,790,233" href="../objects/id-3197d8c1a1774ee9967f2929ec94121d" target="element" >
				  				<area shape="rect" coords="958,70,1078,125" href="/element/id-65217eac17764c58848675482c198bb2"  target="element">
				  				<area shape="rect" coords="670,70,790,125" href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9"  target="element">
				  				<area shape="rect" coords="34,70,154,125" href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1"  target="element">
				  				<area shape="rect" coords="322,70,442,125" href="/element/id-03d4dbd5a0b4478890221e308e03f4c5"  target="element">
				  				<area shape="rect" coords="106,178,226,233" href="/element/KZ-П-19-0000212"  target="element">
				  				<area shape="rect" coords="178,70,298,125" href="/element/id-d710311fcf24447a91c8b1973b61be99"  target="element">
				  				<area shape="rect" coords="466,70,586,125" href="/element/id-bef92529e61b4766bf0fda22565cee92"  target="element">
				  				<area shape="rect" coords="297,178,417,233" href="/element/id-b627f80b8bd8405995fd6441ef2a80ea"  target="element">

				          <area shape="rect" coords="10,10,1379,539" href="../objects/id-a9a5cf2bcfc64b63970b56e1400a0d62" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-a9a5cf2bcfc64b63970b56e1400a0d62" target="element"> &#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1103;&#1102;&#1097;&#1080;&#1077;/&#1090;&#1080;&#1087;&#1086;&#1074;&#1086;&#1081; </a> </td>
									           <td> <a href="../objects/id-a9a5cf2bcfc64b63970b56e1400a0d62" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-19-0000212" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element"> G(E)PPM </a> </td>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-3197d8c1a1774ee9967f2929ec94121d" target="element">  </a> </td>
											           <td> <a href="../objects/id-3197d8c1a1774ee9967f2929ec94121d" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2bf6d0a584444e4bb32f3c8955cf8344" target="element">  </a> </td>
											           <td> <a href="../objects/id-2bf6d0a584444e4bb32f3c8955cf8344" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
													    <td> <a href="/element/KZ-П-10-0000012" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
													    <td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
													    <td> <a href="/element/KZ-П-12-0000052" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
													    <td> <a href="/element/KZ-П-14-0000027" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000277" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c58f0a8f5288464d9a2dcbbf20ad9954" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1080;&#1085;&#1074;&#1077;&#1089;&#1090;&#1080;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1084;&#1080; &#1087;&#1088;&#1086;&#1077;&#1082;&#1090;&#1072;&#1084;&#1080; &#1043;&#1063;&#1055; &#1080; &#1086;&#1085;&#1083;&#1072;&#1080;&#1085; &#1079;&#1072;&#1082;&#1083;&#1102;&#1095;&#1077;&#1085;&#1080;&#1103; &#1076;&#1086;&#1075;&#1086;&#1074;&#1086;&#1088;&#1086;&#1074; &#1043;&#1063;&#1055;  </a> </td>
													    <td> <a href="/element/id-c58f0a8f5288464d9a2dcbbf20ad9954" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8ed170e8c2e04c2188f4490f66a792f9" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089; </a> </td>
									           <td> <a href="../objects/id-8ed170e8c2e04c2188f4490f66a792f9" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element"> CCPM </a> </td>
													    <td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-1d20b201fe394effba227c0b708f7834" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-1d20b201fe394effba227c0b708f7834" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-40115ec2305344ddb5e439579ff3770e" target="element"> &#1057;&#1055;&#1055; &#1056;&#1057;&#1055; </a> </td>
													    <td> <a href="/element/id-40115ec2305344ddb5e439579ff3770e" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element"> CAD/CAM </a> </td>
													    <td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-0f193d6087df4db29a3aa520ee829ee4" target="element"> &#1057;&#1055;&#1055; &#1052;&#1072;&#1088;&#1082;&#1080;&#1088;&#1086;&#1074;&#1082;&#1072; &#1090;&#1086;&#1074;&#1072;&#1088;&#1086;&#1074; </a> </td>
													    <td> <a href="/element/id-0f193d6087df4db29a3aa520ee829ee4" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-679f08d0217b46a4aacda656317b7558" target="element"> &#1057;&#1055;&#1055; &#1052;&#1086;&#1085;&#1086;&#1087;&#1086;&#1083;&#1080;&#1089;&#1090; </a> </td>
													    <td> <a href="/element/id-679f08d0217b46a4aacda656317b7558" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-705b3505207b4df5adb1c8ff6b3d39ce" target="element"> BMS </a> </td>
													    <td> <a href="/element/id-705b3505207b4df5adb1c8ff6b3d39ce" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-b8daa7da64bd496babd0febb0efac82e" target="element"> &#1077;-&#1050;&#1058;&#1056;&#1052; </a> </td>
													    <td> <a href="/element/id-b8daa7da64bd496babd0febb0efac82e" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-bc3217e16d4e4ab9988f18bd5dd3d678" target="element"> export.gov.kz </a> </td>
													    <td> <a href="/element/id-bc3217e16d4e4ab9988f18bd5dd3d678" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-8364b86fc2634cd39b3a72c8cd0c9351" target="element"> FIS </a> </td>
													    <td> <a href="/element/id-8364b86fc2634cd39b3a72c8cd0c9351" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-eefc072c78b94251a667f28048a8dda8" target="element"> DVS </a> </td>
													    <td> <a href="/element/id-eefc072c78b94251a667f28048a8dda8" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-ed95c90271e545a18f0ba1106daac4db" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; "&#1062;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1087;&#1088;&#1086;&#1092;&#1080;&#1083;&#1100; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1072;" </a> </td>
													    <td> <a href="/element/id-ed95c90271e545a18f0ba1106daac4db" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5ae86a4355b04fc993c2f85c5edbf8b1" target="element"> AFMS </a> </td>
													    <td> <a href="/element/id-5ae86a4355b04fc993c2f85c5edbf8b1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-8ee44f3680c64b00a7f71e255ea38a2a" target="element">  </a> </td>
																				<td> <a href="/element/id-8ee44f3680c64b00a7f71e255ea38a2a" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
																				<td> <a href="/element/id-c58f0a8f5288464d9a2dcbbf20ad9954" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1080;&#1085;&#1074;&#1077;&#1089;&#1090;&#1080;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1084;&#1080; &#1087;&#1088;&#1086;&#1077;&#1082;&#1090;&#1072;&#1084;&#1080; &#1043;&#1063;&#1055; &#1080; &#1086;&#1085;&#1083;&#1072;&#1080;&#1085; &#1079;&#1072;&#1082;&#1083;&#1102;&#1095;&#1077;&#1085;&#1080;&#1103; &#1076;&#1086;&#1075;&#1086;&#1074;&#1086;&#1088;&#1086;&#1074; &#1043;&#1063;&#1055;  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element">  </a> </td>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element">  </a> </td>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
																				<td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element">  </a> </td>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-27967306db2a41eabb18df15e7bd63a0" target="element">  </a> </td>
																				<td> <a href="/element/id-27967306db2a41eabb18df15e7bd63a0" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element"> G(E)PPM </a> </td>
																				<td> <a href="/element/id-c58f0a8f5288464d9a2dcbbf20ad9954" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1080;&#1085;&#1074;&#1077;&#1089;&#1090;&#1080;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1084;&#1080; &#1087;&#1088;&#1086;&#1077;&#1082;&#1090;&#1072;&#1084;&#1080; &#1043;&#1063;&#1055; &#1080; &#1086;&#1085;&#1083;&#1072;&#1080;&#1085; &#1079;&#1072;&#1082;&#1083;&#1102;&#1095;&#1077;&#1085;&#1080;&#1103; &#1076;&#1086;&#1075;&#1086;&#1074;&#1086;&#1088;&#1086;&#1074; &#1043;&#1063;&#1055;  </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element">  </a> </td>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
																				<td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-843e2ccb1e2e4bac85731bfa7b39c06a" target="element">  </a> </td>
																				<td> <a href="/element/id-843e2ccb1e2e4bac85731bfa7b39c06a" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
																				<td> <a href="/element/id-66af8a463d9d434385e8a5a313ef7215" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element">  </a> </td>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
																				<td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-99bd2e3e6dd0436390d2ecf3c62a7929" target="element">  </a> </td>
																				<td> <a href="/element/id-99bd2e3e6dd0436390d2ecf3c62a7929" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element">  </a> </td>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
																				<td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-e99dc72dfbc743ebb4304049d1b70038" target="element">  </a> </td>
																				<td> <a href="/element/id-e99dc72dfbc743ebb4304049d1b70038" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element">  </a> </td>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element">  </a> </td>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
																				<td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element">  </a> </td>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
																				<td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-25c460fdae81417b844466eeffb7f669" target="element">  </a> </td>
																				<td> <a href="/element/id-25c460fdae81417b844466eeffb7f669" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element"> CCPM </a> </td>
																				<td> <a href="/element/id-40115ec2305344ddb5e439579ff3770e" target="element"> &#1057;&#1055;&#1055; &#1056;&#1057;&#1055; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-6cfeed1ed207441fb0d528f08a97406e" target="element">  </a> </td>
																				<td> <a href="/element/id-6cfeed1ed207441fb0d528f08a97406e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element"> CCPM </a> </td>
																				<td> <a href="/element/id-679f08d0217b46a4aacda656317b7558" target="element"> &#1057;&#1055;&#1055; &#1052;&#1086;&#1085;&#1086;&#1087;&#1086;&#1083;&#1080;&#1089;&#1090; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-963ba44e207e4287a341929fe8fbe5f8" target="element">  </a> </td>
																				<td> <a href="/element/id-963ba44e207e4287a341929fe8fbe5f8" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-71f04ba01919471fac1d3fa319da443d" target="element"> CCPM </a> </td>
																				<td> <a href="/element/id-ed95c90271e545a18f0ba1106daac4db" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; "&#1062;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1087;&#1088;&#1086;&#1092;&#1080;&#1083;&#1100; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1072;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-36bf1434b8bf4c43ae25ce3aaf3d5304" target="element">  </a> </td>
																				<td> <a href="/element/id-36bf1434b8bf4c43ae25ce3aaf3d5304" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-1d20b201fe394effba227c0b708f7834" target="element"> RMS </a> </td>
																				<td> <a href="/element/id-bc3217e16d4e4ab9988f18bd5dd3d678" target="element"> export.gov.kz </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f920386366c0418485da199a58506001" target="element">  </a> </td>
																				<td> <a href="/element/id-f920386366c0418485da199a58506001" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element"> LMS </a> </td>
																				<td> <a href="/element/id-0f193d6087df4db29a3aa520ee829ee4" target="element"> &#1057;&#1055;&#1055; &#1052;&#1072;&#1088;&#1082;&#1080;&#1088;&#1086;&#1074;&#1082;&#1072; &#1090;&#1086;&#1074;&#1072;&#1088;&#1086;&#1074; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-3cb3455519e54ff5b3bf8f4aabd07614" target="element">  </a> </td>
																				<td> <a href="/element/id-3cb3455519e54ff5b3bf8f4aabd07614" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e773a0f87d154164af189278bf85eebd" target="element"> CAD/CAM </a> </td>
																				<td> <a href="/element/id-0f193d6087df4db29a3aa520ee829ee4" target="element"> &#1057;&#1055;&#1055; &#1052;&#1072;&#1088;&#1082;&#1080;&#1088;&#1086;&#1074;&#1082;&#1072; &#1090;&#1086;&#1074;&#1072;&#1088;&#1086;&#1074; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-7f00d9c2d09c4e6eac0a32d3f1a5a319" target="element">  </a> </td>
																				<td> <a href="/element/id-7f00d9c2d09c4e6eac0a32d3f1a5a319" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-705b3505207b4df5adb1c8ff6b3d39ce" target="element"> BMS </a> </td>
																				<td> <a href="/element/id-679f08d0217b46a4aacda656317b7558" target="element"> &#1057;&#1055;&#1055; &#1052;&#1086;&#1085;&#1086;&#1087;&#1086;&#1083;&#1080;&#1089;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-0d81cdb04b3b4cf0ae79c59a71bd8ba7" target="element">  </a> </td>
																				<td> <a href="/element/id-0d81cdb04b3b4cf0ae79c59a71bd8ba7" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-01c1561f9e3a4f6794fa12e1d9b429b7" target="element"> LMS </a> </td>
																				<td> <a href="/element/id-b8daa7da64bd496babd0febb0efac82e" target="element"> &#1077;-&#1050;&#1058;&#1056;&#1052; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-1642efcd10024cdfa8c3773e6a5464bc" target="element">  </a> </td>
																				<td> <a href="/element/id-1642efcd10024cdfa8c3773e6a5464bc" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-8364b86fc2634cd39b3a72c8cd0c9351" target="element"> FIS </a> </td>
																				<td> <a href="/element/id-bc3217e16d4e4ab9988f18bd5dd3d678" target="element"> export.gov.kz </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5009a646be9c469ab4dee16c663d0f8d" target="element">  </a> </td>
																				<td> <a href="/element/id-5009a646be9c469ab4dee16c663d0f8d" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-eefc072c78b94251a667f28048a8dda8" target="element"> DVS </a> </td>
																				<td> <a href="/element/id-bc3217e16d4e4ab9988f18bd5dd3d678" target="element"> export.gov.kz </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-937672b779bd4dc9a04e9e5690c63e3e" target="element">  </a> </td>
																				<td> <a href="/element/id-937672b779bd4dc9a04e9e5690c63e3e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5ae86a4355b04fc993c2f85c5edbf8b1" target="element"> AFMS </a> </td>
																				<td> <a href="/element/id-ed95c90271e545a18f0ba1106daac4db" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; "&#1062;&#1080;&#1092;&#1088;&#1086;&#1074;&#1086;&#1081; &#1087;&#1088;&#1086;&#1092;&#1080;&#1083;&#1100; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1072;" </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element">  </a> </td>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
																		<td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>