<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Внешняя политика</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1042;&#1085;&#1077;&#1096;&#1085;&#1103;&#1103; &#1087;&#1086;&#1083;&#1080;&#1090;&#1080;&#1082;&#1072;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4d96e62eb23e4d35b6d6bf3781e7abcd.png" alt="Внешняя политика" usemap="#id-4d96e62eb23e4d35b6d6bf3781e7abcdmap"/>
			   <map name="id-4d96e62eb23e4d35b6d6bf3781e7abcdmap">
				  				<area shape="rect" coords="502,826,622,881" href="/element/id-2b70a7208dde45d2869f6809b534bbbd"  target="element">
				  				<area shape="rect" coords="490,634,610,689" href="/element/id-a1215e1524d84d14954c74913a9f01dc"  target="element">
				  				<area shape="rect" coords="478,726,646,790" href="/element/id-809545170d7d47e8a2a09632569ea4f5"  target="element">
				  				<area shape="rect" coords="298,850,418,905" href="/element/id-87c1c7837bc64e3c919b233d96a4b05f"  target="element">
				  				<area shape="rect" coords="58,850,178,905" href="/element/id-b136dd980b8643ccbb740533546373b0"  target="element">
				  				<area shape="rect" coords="310,610,430,665" href="/element/id-90caa043ceca46388e41de673a2715ba"  target="element">
				  				<area shape="rect" coords="58,730,406,790" href="/element/id-4f7dc13475ee4314ace6f86827021d16"  target="element">
				  				<area shape="rect" coords="22,610,142,665" href="/element/id-b855d2f38c074970a2b7cd6c6097a032"  target="element">

				          <area shape="rect" coords="10,574,682,934" href="../objects/id-a1969995bf424486b09b58333a30dcbb" target="element" >
				  				<area shape="rect" coords="322,394,442,442" href="/element/KZ-П-04-0000050"  target="element">
				  				<area shape="rect" coords="70,388,190,443" href="/element/KZ-П-12-0000044"  target="element">
				  				<area shape="rect" coords="1054,178,1174,233" href="/element/KZ-П-05-0000143"  target="element">
				  				<area shape="rect" coords="1054,70,1174,125" href="/element/id-2c29432868f4430d98f65e1582a1b199"  target="element">
				  				<area shape="rect" coords="610,172,730,227" href="/element/KZ-П-20-0000277"  target="element">
				  				<area shape="rect" coords="610,70,730,125" href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c"  target="element">
				  				<area shape="rect" coords="466,172,586,227" href="/element/KZ-П-14-0000027"  target="element">
				  				<area shape="rect" coords="478,388,598,443" href="/element/id-7579b57eb68d4df8b15507afbf0b6306"  target="element">
				  				<area shape="rect" coords="635,388,755,443" href="/element/KZ-П-10-0000012"  target="element">
				  				<area shape="rect" coords="466,70,586,125" href="/element/id-d53e6882af584e5eb3f3272f6a777f57"  target="element">
				  				<area shape="rect" coords="754,286,874,341" href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741"  target="element">
				  				<area shape="rect" coords="478,286,598,341" href="/element/id-5fe973a5433545d8b43ff85c8da514c2"  target="element">
				  				<area shape="rect" coords="610,286,730,341" href="/element/id-739e8e0ec6214f85834411ea750be297"  target="element">
				  				<area shape="rect" coords="322,286,442,341" href="/element/id-7d262a86eab34ae3bfbde9989b410fc3"  target="element">
				  				<area shape="rect" coords="34,286,226,341" href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3"  target="element">
				  		        <area shape="rect" coords="903,169,1018,242" href="../objects/id-3f77cd08cb1142429ff2838a17136aeb" target="element" >
				  				<area shape="rect" coords="898,70,1018,125" href="/element/id-65217eac17764c58848675482c198bb2"  target="element">
				  				<area shape="rect" coords="34,70,154,125" href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1"  target="element">
				  				<area shape="rect" coords="322,70,442,125" href="/element/id-03d4dbd5a0b4478890221e308e03f4c5"  target="element">
				  				<area shape="rect" coords="106,178,226,233" href="/element/KZ-П-19-0000212"  target="element">
				  				<area shape="rect" coords="178,70,298,125" href="/element/id-d710311fcf24447a91c8b1973b61be99"  target="element">
				  				<area shape="rect" coords="322,178,442,233" href="/element/id-b627f80b8bd8405995fd6441ef2a80ea"  target="element">

				          <area shape="rect" coords="10,10,1211,539" href="../objects/id-6515c962209e445e94c0cfc60d91c8ef" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1077; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1087;&#1088;&#1086;&#1094;&#1077;&#1089;&#1089;&#1072;&#1084;&#1080; (BPMS, Business Process Management System)</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6515c962209e445e94c0cfc60d91c8ef" target="element"> &#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1103;&#1102;&#1097;&#1080;&#1077;/&#1090;&#1080;&#1087;&#1086;&#1074;&#1086;&#1081; </a> </td>
									           <td> <a href="../objects/id-6515c962209e445e94c0cfc60d91c8ef" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-19-0000212" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-3f77cd08cb1142429ff2838a17136aeb" target="element">  </a> </td>
											           <td> <a href="../objects/id-3f77cd08cb1142429ff2838a17136aeb" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
													    <td> <a href="/element/KZ-П-10-0000012" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
													    <td> <a href="/element/KZ-П-14-0000027" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000277" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2c29432868f4430d98f65e1582a1b199" target="element"> MDM </a> </td>
													    <td> <a href="/element/id-2c29432868f4430d98f65e1582a1b199" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-05-0000143" target="element"> &#1043;&#1041;&#1044; &#1040;&#1056; </a> </td>
													    <td> <a href="/element/KZ-П-05-0000143" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-12-0000044" target="element"> &#1048;&#1057; &#1050;&#1050; </a> </td>
													    <td> <a href="/element/KZ-П-12-0000044" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-04-0000050" target="element"> &#1054;&#1044;&#1054; </a> </td>
													    <td> <a href="/element/KZ-П-04-0000050" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a1969995bf424486b09b58333a30dcbb" target="element"> &#1042;&#1085;&#1077;&#1096;&#1085;&#1103;&#1103; &#1087;&#1086;&#1083;&#1080;&#1090;&#1080;&#1082;&#1072; </a> </td>
									           <td> <a href="../objects/id-a1969995bf424486b09b58333a30dcbb" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-b855d2f38c074970a2b7cd6c6097a032" target="element"> FMS </a> </td>
													    <td> <a href="/element/id-b855d2f38c074970a2b7cd6c6097a032" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4f7dc13475ee4314ace6f86827021d16" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1077;&#1089;&#1087;&#1077;&#1095;&#1077;&#1085;&#1080;&#1103; &#1079;&#1072;&#1097;&#1080;&#1090;&#1099; &#1080;&#1085;&#1090;&#1077;&#1088;&#1077;&#1089;&#1086;&#1074; &#1056;&#1077;&#1089;&#1087;&#1091;&#1073;&#1083;&#1080;&#1082;&#1080; &#1050;&#1072;&#1079;&#1072;&#1093;&#1089;&#1090;&#1072;&#1085; &#1080; &#1077;&#1077; &#1075;&#1088;&#1072;&#1078;&#1076;&#1072;&#1085; </a> </td>
													    <td> <a href="/element/id-4f7dc13475ee4314ace6f86827021d16" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-90caa043ceca46388e41de673a2715ba" target="element"> OLAP </a> </td>
													    <td> <a href="/element/id-90caa043ceca46388e41de673a2715ba" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-b136dd980b8643ccbb740533546373b0" target="element"> ERMS </a> </td>
													    <td> <a href="/element/id-b136dd980b8643ccbb740533546373b0" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-87c1c7837bc64e3c919b233d96a4b05f" target="element"> AMT </a> </td>
													    <td> <a href="/element/id-87c1c7837bc64e3c919b233d96a4b05f" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-809545170d7d47e8a2a09632569ea4f5" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1084;&#1077;&#1078;&#1076;&#1091;&#1085;&#1072;&#1088;&#1086;&#1076;&#1085;&#1099;&#1084;&#1080; &#1076;&#1086;&#1075;&#1086;&#1074;&#1086;&#1088;&#1072;&#1084;&#1080; </a> </td>
													    <td> <a href="/element/id-809545170d7d47e8a2a09632569ea4f5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-a1215e1524d84d14954c74913a9f01dc" target="element"> DCOO </a> </td>
													    <td> <a href="/element/id-a1215e1524d84d14954c74913a9f01dc" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element">  </a> </td>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element">  </a> </td>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
																				<td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element">  </a> </td>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="/element/id-3ca1f71beaa347f9beb4dc55ef8738de" target="element">  </a> </td>
																				<td> <a href="/element/id-3ca1f71beaa347f9beb4dc55ef8738de" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000044" target="element"> &#1048;&#1057; &#1050;&#1050; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-2c9a917354004e34bf3809f9b1987923" target="element">  </a> </td>
																				<td> <a href="/element/id-2c9a917354004e34bf3809f9b1987923" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
																				<td> <a href="/element/KZ-П-04-0000050" target="element"> &#1054;&#1044;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5ca9a59dd29a4598a4ae610775efacb3" target="element">  </a> </td>
																				<td> <a href="/element/id-5ca9a59dd29a4598a4ae610775efacb3" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element">  </a> </td>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
																				<td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-e99dc72dfbc743ebb4304049d1b70038" target="element">  </a> </td>
																				<td> <a href="/element/id-e99dc72dfbc743ebb4304049d1b70038" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element">  </a> </td>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
																				<td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element">  </a> </td>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
																				<td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-8bee988b03aa47d6940eee723d882f4b" target="element">  </a> </td>
																				<td> <a href="/element/id-8bee988b03aa47d6940eee723d882f4b" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-2c29432868f4430d98f65e1582a1b199" target="element"> MDM </a> </td>
																				<td> <a href="/element/KZ-П-05-0000143" target="element"> &#1043;&#1041;&#1044; &#1040;&#1056; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-d2a3ac129c89441593ac3a246f8b018c" target="element">  </a> </td>
																				<td> <a href="/element/id-d2a3ac129c89441593ac3a246f8b018c" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-b855d2f38c074970a2b7cd6c6097a032" target="element"> FMS </a> </td>
																				<td> <a href="/element/id-4f7dc13475ee4314ace6f86827021d16" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1077;&#1089;&#1087;&#1077;&#1095;&#1077;&#1085;&#1080;&#1103; &#1079;&#1072;&#1097;&#1080;&#1090;&#1099; &#1080;&#1085;&#1090;&#1077;&#1088;&#1077;&#1089;&#1086;&#1074; &#1056;&#1077;&#1089;&#1087;&#1091;&#1073;&#1083;&#1080;&#1082;&#1080; &#1050;&#1072;&#1079;&#1072;&#1093;&#1089;&#1090;&#1072;&#1085; &#1080; &#1077;&#1077; &#1075;&#1088;&#1072;&#1078;&#1076;&#1072;&#1085; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-9d898682228249c3b1ac645d3c054ffa" target="element">  </a> </td>
																				<td> <a href="/element/id-9d898682228249c3b1ac645d3c054ffa" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-90caa043ceca46388e41de673a2715ba" target="element"> OLAP </a> </td>
																				<td> <a href="/element/id-4f7dc13475ee4314ace6f86827021d16" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1077;&#1089;&#1087;&#1077;&#1095;&#1077;&#1085;&#1080;&#1103; &#1079;&#1072;&#1097;&#1080;&#1090;&#1099; &#1080;&#1085;&#1090;&#1077;&#1088;&#1077;&#1089;&#1086;&#1074; &#1056;&#1077;&#1089;&#1087;&#1091;&#1073;&#1083;&#1080;&#1082;&#1080; &#1050;&#1072;&#1079;&#1072;&#1093;&#1089;&#1090;&#1072;&#1085; &#1080; &#1077;&#1077; &#1075;&#1088;&#1072;&#1078;&#1076;&#1072;&#1085; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-d6a3d1524062406f97894b9ec94a3ab7" target="element">  </a> </td>
																				<td> <a href="/element/id-d6a3d1524062406f97894b9ec94a3ab7" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-b136dd980b8643ccbb740533546373b0" target="element"> ERMS </a> </td>
																				<td> <a href="/element/id-4f7dc13475ee4314ace6f86827021d16" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1077;&#1089;&#1087;&#1077;&#1095;&#1077;&#1085;&#1080;&#1103; &#1079;&#1072;&#1097;&#1080;&#1090;&#1099; &#1080;&#1085;&#1090;&#1077;&#1088;&#1077;&#1089;&#1086;&#1074; &#1056;&#1077;&#1089;&#1087;&#1091;&#1073;&#1083;&#1080;&#1082;&#1080; &#1050;&#1072;&#1079;&#1072;&#1093;&#1089;&#1090;&#1072;&#1085; &#1080; &#1077;&#1077; &#1075;&#1088;&#1072;&#1078;&#1076;&#1072;&#1085; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-1348e3e74b3c48d2a8c28a29c85b0e64" target="element">  </a> </td>
																				<td> <a href="/element/id-1348e3e74b3c48d2a8c28a29c85b0e64" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-87c1c7837bc64e3c919b233d96a4b05f" target="element"> AMT </a> </td>
																				<td> <a href="/element/id-4f7dc13475ee4314ace6f86827021d16" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1072;&#1103; &#1089;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1076;&#1083;&#1103; &#1086;&#1073;&#1077;&#1089;&#1087;&#1077;&#1095;&#1077;&#1085;&#1080;&#1103; &#1079;&#1072;&#1097;&#1080;&#1090;&#1099; &#1080;&#1085;&#1090;&#1077;&#1088;&#1077;&#1089;&#1086;&#1074; &#1056;&#1077;&#1089;&#1087;&#1091;&#1073;&#1083;&#1080;&#1082;&#1080; &#1050;&#1072;&#1079;&#1072;&#1093;&#1089;&#1090;&#1072;&#1085; &#1080; &#1077;&#1077; &#1075;&#1088;&#1072;&#1078;&#1076;&#1072;&#1085; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5d940d208e5040dc802bc67be46fb7d9" target="element">  </a> </td>
																				<td> <a href="/element/id-5d940d208e5040dc802bc67be46fb7d9" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-a1215e1524d84d14954c74913a9f01dc" target="element"> DCOO </a> </td>
																				<td> <a href="/element/id-809545170d7d47e8a2a09632569ea4f5" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1084;&#1077;&#1078;&#1076;&#1091;&#1085;&#1072;&#1088;&#1086;&#1076;&#1085;&#1099;&#1084;&#1080; &#1076;&#1086;&#1075;&#1086;&#1074;&#1086;&#1088;&#1072;&#1084;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5f36bb0ce55c40ce8aae6e396f090931" target="element">  </a> </td>
																				<td> <a href="/element/id-5f36bb0ce55c40ce8aae6e396f090931" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
																				<td> <a href="/element/id-809545170d7d47e8a2a09632569ea4f5" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1084;&#1077;&#1078;&#1076;&#1091;&#1085;&#1072;&#1088;&#1086;&#1076;&#1085;&#1099;&#1084;&#1080; &#1076;&#1086;&#1075;&#1086;&#1074;&#1086;&#1088;&#1072;&#1084;&#1080; </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>