<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Адрес</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1040;&#1076;&#1088;&#1077;&#1089;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5ade6b9a85b646a0bae39fc5a4cee144.png" alt="Адрес" usemap="#id-5ade6b9a85b646a0bae39fc5a4cee144map"/>
			   <map name="id-5ade6b9a85b646a0bae39fc5a4cee144map">
				  				<area shape="rect" coords="34,46,154,83" href="/element/id-1dc2ae2a007c4030b727d10ecba1cb3e"  target="element">
				  				<area shape="rect" coords="34,383,154,420" href="/element/id-e41cf3d57ffb4174ad997becd07ad470"  target="element">
				  				<area shape="rect" coords="34,335,154,372" href="/element/id-e41cf3d57ffb4174ad997becd07ad470"  target="element">
				  				<area shape="rect" coords="34,287,154,324" href="/element/id-7f19e97f09614b2f9e5869c05d1df0bb"  target="element">
				  				<area shape="rect" coords="34,239,154,276" href="/element/id-77a67027d3d14ef1a2a1e79ce6b13589"  target="element">
				  				<area shape="rect" coords="34,191,154,228" href="/element/id-8ca04c7f0e334fd49863230175340c11"  target="element">
				  				<area shape="rect" coords="34,143,154,180" href="/element/id-d54116643f1b4d3cae5120e115d9520d"  target="element">
				  				<area shape="rect" coords="34,95,154,131" href="/element/id-1901b4b0d8c843ec86b0c7fa818551d4"  target="element">

				  		<area shape="rect" coords="10,10,179,431" href="/element/id-74e56e20260c4feeaa5e571aa8080b55"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
											    <td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="/element/id-1901b4b0d8c843ec86b0c7fa818551d4" target="element"> &#1057;&#1090;&#1088;&#1072;&#1085;&#1072; </a> </td>
													    <td> <a href="/element/id-1901b4b0d8c843ec86b0c7fa818551d4" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d54116643f1b4d3cae5120e115d9520d" target="element"> &#1054;&#1073;&#1083;&#1072;&#1089;&#1090;&#1100; </a> </td>
													    <td> <a href="/element/id-d54116643f1b4d3cae5120e115d9520d" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-8ca04c7f0e334fd49863230175340c11" target="element"> &#1056;&#1072;&#1081;&#1086;&#1085; </a> </td>
													    <td> <a href="/element/id-8ca04c7f0e334fd49863230175340c11" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-77a67027d3d14ef1a2a1e79ce6b13589" target="element"> &#1053;&#1072;&#1089;&#1077;&#1083;&#1077;&#1085;&#1085;&#1099;&#1081; &#1087;&#1091;&#1085;&#1082;&#1090; </a> </td>
													    <td> <a href="/element/id-77a67027d3d14ef1a2a1e79ce6b13589" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7f19e97f09614b2f9e5869c05d1df0bb" target="element"> &#1059;&#1083;&#1080;&#1094;&#1072; (&#1087;&#1088;&#1086;&#1089;&#1087;&#1077;&#1082;&#1090;/&#1087;&#1077;&#1088;&#1077;&#1091;&#1083;&#1086;&#1082; &#1080; &#1090;.&#1087;) </a> </td>
													    <td> <a href="/element/id-7f19e97f09614b2f9e5869c05d1df0bb" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e41cf3d57ffb4174ad997becd07ad470" target="element"> &#1044;&#1086;&#1084; (&#1089;&#1090;&#1088;&#1086;&#1077;&#1085;&#1080;&#1077;) </a> </td>
													    <td> <a href="/element/id-e41cf3d57ffb4174ad997becd07ad470" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e41cf3d57ffb4174ad997becd07ad470" target="element"> &#1044;&#1086;&#1084; (&#1089;&#1090;&#1088;&#1086;&#1077;&#1085;&#1080;&#1077;) </a> </td>
													    <td> <a href="/element/id-e41cf3d57ffb4174ad997becd07ad470" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-1dc2ae2a007c4030b727d10ecba1cb3e" target="element"> &#1050;&#1074;&#1072;&#1088;&#1090;&#1080;&#1088;&#1072; </a> </td>
													    <td> <a href="/element/id-1dc2ae2a007c4030b727d10ecba1cb3e" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="/element/id-a76f24aab49640c0a177a4a883900d65" target="element">  </a> </td>
																		<td> <a href="/element/id-a76f24aab49640c0a177a4a883900d65" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-1901b4b0d8c843ec86b0c7fa818551d4" target="element"> &#1057;&#1090;&#1088;&#1072;&#1085;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-068668d5232248c0b94ed47e03a9fbba" target="element">  </a> </td>
																		<td> <a href="/element/id-068668d5232248c0b94ed47e03a9fbba" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-d54116643f1b4d3cae5120e115d9520d" target="element"> &#1054;&#1073;&#1083;&#1072;&#1089;&#1090;&#1100; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-ca0e8778ad1e42e39f93b89982c88790" target="element">  </a> </td>
																		<td> <a href="/element/id-ca0e8778ad1e42e39f93b89982c88790" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-8ca04c7f0e334fd49863230175340c11" target="element"> &#1056;&#1072;&#1081;&#1086;&#1085; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-4f58173669fa429e85e0f195416e4434" target="element">  </a> </td>
																		<td> <a href="/element/id-4f58173669fa429e85e0f195416e4434" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-77a67027d3d14ef1a2a1e79ce6b13589" target="element"> &#1053;&#1072;&#1089;&#1077;&#1083;&#1077;&#1085;&#1085;&#1099;&#1081; &#1087;&#1091;&#1085;&#1082;&#1090; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-a496799dabb740eab800bdad577673dd" target="element">  </a> </td>
																		<td> <a href="/element/id-a496799dabb740eab800bdad577673dd" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-7f19e97f09614b2f9e5869c05d1df0bb" target="element"> &#1059;&#1083;&#1080;&#1094;&#1072; (&#1087;&#1088;&#1086;&#1089;&#1087;&#1077;&#1082;&#1090;/&#1087;&#1077;&#1088;&#1077;&#1091;&#1083;&#1086;&#1082; &#1080; &#1090;.&#1087;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-5589f7b8de264bcdbe759764bab38212" target="element">  </a> </td>
																		<td> <a href="/element/id-5589f7b8de264bcdbe759764bab38212" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-e41cf3d57ffb4174ad997becd07ad470" target="element"> &#1044;&#1086;&#1084; (&#1089;&#1090;&#1088;&#1086;&#1077;&#1085;&#1080;&#1077;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-5589f7b8de264bcdbe759764bab38212" target="element">  </a> </td>
																		<td> <a href="/element/id-5589f7b8de264bcdbe759764bab38212" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-e41cf3d57ffb4174ad997becd07ad470" target="element"> &#1044;&#1086;&#1084; (&#1089;&#1090;&#1088;&#1086;&#1077;&#1085;&#1080;&#1077;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-464e861eb6f949929749df7e54dba4c8" target="element">  </a> </td>
																		<td> <a href="/element/id-464e861eb6f949929749df7e54dba4c8" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-74e56e20260c4feeaa5e571aa8080b55" target="element"> &#1040;&#1076;&#1088;&#1077;&#1089; </a> </td>
																		<td> <a href="/element/id-1dc2ae2a007c4030b727d10ecba1cb3e" target="element"> &#1050;&#1074;&#1072;&#1088;&#1090;&#1080;&#1088;&#1072; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>