<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Юр.лицо</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1070;&#1088;.&#1083;&#1080;&#1094;&#1086;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-732c3274e89f4858b97c2e31108878bb.png" alt="Юр.лицо" usemap="#id-732c3274e89f4858b97c2e31108878bbmap"/>
			   <map name="id-732c3274e89f4858b97c2e31108878bbmap">
				  		<area shape="rect" coords="286,478,406,533" href="/element/KZ-П-05-0000143"  target="element">
				  		<area shape="rect" coords="286,538,406,695" href="/element/KZ-П-11-0000015"  target="element">
				  		<area shape="rect" coords="286,10,406,467" href="/element/KZ-П-09-0000011"  target="element">
				  				<area shape="rect" coords="34,226,167,263" href="/element/id-2c885bf5a1d24ce8a6fc9a525d9e8cc2"  target="element">
				  				<area shape="rect" coords="34,526,167,575" href="/element/id-6ed29950d7934679a97c99dcfb623c04"  target="element">
				  				<area shape="rect" coords="34,478,167,515" href="/element/id-eb9db3f335184cb88c9dd97dea72c82f"  target="element">
				  				<area shape="rect" coords="34,106,167,155" href="/element/id-d457d20a11bb4ababda378cecfd24551"  target="element">
				  				<area shape="rect" coords="34,634,167,671" href="/element/id-259cb6fd2878477e876e0d4c367bf795"  target="element">
				  				<area shape="rect" coords="34,430,167,467" href="/element/id-efa531e92f4b4241911372a9748bd0df"  target="element">
				  				<area shape="rect" coords="34,382,167,419" href="/element/id-fa06e0b17bdf4f6ba5bfa6be493e9dc3"  target="element">
				  				<area shape="rect" coords="34,322,167,377" href="/element/id-5ef4f420e0da4300b685486b2889aac3"  target="element">
				  				<area shape="rect" coords="34,274,167,311" href="/element/id-dae5cb42aa424e96b6379db81c93bd69"  target="element">
				  				<area shape="rect" coords="34,166,167,221" href="/element/id-01dd642c6f034560b73f06bfe7cb786b"  target="element">
				  				<area shape="rect" coords="34,634,167,671" href="/element/id-11d36eef947e478daa85228a393118c2"  target="element">
				  				<area shape="rect" coords="34,586,167,623" href="/element/id-e7e66010d82c46c98b8b24bac44bdd0a"  target="element">
				  				<area shape="rect" coords="34,58,167,95" href="/element/id-f9ba06167c8440f29b6ad3243b849984"  target="element">

				  		<area shape="rect" coords="10,10,191,695" href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
											    <td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="/element/id-f9ba06167c8440f29b6ad3243b849984" target="element"> &#1041;&#1048;&#1053; </a> </td>
													    <td> <a href="/element/id-f9ba06167c8440f29b6ad3243b849984" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e7e66010d82c46c98b8b24bac44bdd0a" target="element"> &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1085;&#1085;&#1072;&#1103; &#1087;&#1086;&#1095;&#1090;&#1072; </a> </td>
													    <td> <a href="/element/id-e7e66010d82c46c98b8b24bac44bdd0a" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-11d36eef947e478daa85228a393118c2" target="element"> &#1053;&#1086;&#1084;&#1077;&#1088; &#1090;&#1077;&#1083;&#1077;&#1092;&#1086;&#1085;&#1072; </a> </td>
													    <td> <a href="/element/id-11d36eef947e478daa85228a393118c2" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-01dd642c6f034560b73f06bfe7cb786b" target="element"> &#1053;&#1086;&#1084;&#1077;&#1088; &#1089;&#1074;&#1080;&#1076;&#1077;&#1090;&#1077;&#1083;&#1100;&#1089;&#1090;&#1074;&#1072; &#1086; &#1075;&#1086;&#1089;.&#1088;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1080; </a> </td>
													    <td> <a href="/element/id-01dd642c6f034560b73f06bfe7cb786b" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-dae5cb42aa424e96b6379db81c93bd69" target="element"> &#1050;&#1086;&#1076; &#1050;&#1054;&#1055;&#1060; </a> </td>
													    <td> <a href="/element/id-dae5cb42aa424e96b6379db81c93bd69" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5ef4f420e0da4300b685486b2889aac3" target="element"> &#1056;&#1072;&#1079;&#1084;&#1077;&#1088;&#1085;&#1086;&#1089;&#1090;&#1100; &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103; (&#1050;&#1056;&#1055;) </a> </td>
													    <td> <a href="/element/id-5ef4f420e0da4300b685486b2889aac3" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-fa06e0b17bdf4f6ba5bfa6be493e9dc3" target="element"> &#1050;&#1086;&#1076; &#1054;&#1050;&#1069;&#1044; </a> </td>
													    <td> <a href="/element/id-fa06e0b17bdf4f6ba5bfa6be493e9dc3" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-efa531e92f4b4241911372a9748bd0df" target="element"> &#1050;&#1086;&#1076; &#1041;&#1077;&#1085;&#1077;&#1092;&#1080;&#1094;&#1080;&#1072;&#1088;&#1072; </a> </td>
													    <td> <a href="/element/id-efa531e92f4b4241911372a9748bd0df" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-259cb6fd2878477e876e0d4c367bf795" target="element"> &#1057;&#1086;&#1094;.&#1089;&#1077;&#1090;&#1100; &#1080;&#1083;&#1080; &#1074;&#1077;&#1073;-&#1089;&#1072;&#1081;&#1090; </a> </td>
													    <td> <a href="/element/id-259cb6fd2878477e876e0d4c367bf795" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d457d20a11bb4ababda378cecfd24551" target="element"> &#1053;&#1072;&#1080;&#1084;&#1077;&#1085;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
													    <td> <a href="/element/id-d457d20a11bb4ababda378cecfd24551" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-eb9db3f335184cb88c9dd97dea72c82f" target="element"> &#1070;&#1088;&#1080;&#1076;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1072;&#1076;&#1088;&#1077;&#1089;&#1085;&#1099;&#1077; &#1089;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="/element/id-eb9db3f335184cb88c9dd97dea72c82f" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6ed29950d7934679a97c99dcfb623c04" target="element"> &#1060;&#1072;&#1082;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1072;&#1076;&#1088;&#1077;&#1089;&#1085;&#1099;&#1077; &#1089;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="/element/id-6ed29950d7934679a97c99dcfb623c04" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2c885bf5a1d24ce8a6fc9a525d9e8cc2" target="element"> &#1043;&#1086;&#1076; &#1086;&#1089;&#1085;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="/element/id-2c885bf5a1d24ce8a6fc9a525d9e8cc2" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
											    <td> <a href="/element/KZ-П-09-0000011" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="/element/KZ-П-11-0000015" target="element"> &#1048;&#1057; &#1055;&#1069;&#1055; &#1056;&#1050; </a> </td>
											    <td> <a href="/element/KZ-П-11-0000015" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="/element/KZ-П-05-0000143" target="element"> &#1043;&#1041;&#1044; &#1040;&#1056; </a> </td>
											    <td> <a href="/element/KZ-П-05-0000143" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="/element/id-e217c47ed4f7457f98db3e7c9fe37a26" target="element">  </a> </td>
																		<td> <a href="/element/id-e217c47ed4f7457f98db3e7c9fe37a26" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-d457d20a11bb4ababda378cecfd24551" target="element"> &#1053;&#1072;&#1080;&#1084;&#1077;&#1085;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-0c8e86de2c8845529650ef6df70aaffc" target="element">  </a> </td>
																		<td> <a href="/element/id-0c8e86de2c8845529650ef6df70aaffc" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-f9ba06167c8440f29b6ad3243b849984" target="element"> &#1041;&#1048;&#1053; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-209f9e1e4b2742ca88ceaa55f670f4c5" target="element">  </a> </td>
																		<td> <a href="/element/id-209f9e1e4b2742ca88ceaa55f670f4c5" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-eb9db3f335184cb88c9dd97dea72c82f" target="element"> &#1070;&#1088;&#1080;&#1076;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1072;&#1076;&#1088;&#1077;&#1089;&#1085;&#1099;&#1077; &#1089;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-15c90cc9a9fc4d04b7f6d8468e97c5e3" target="element">  </a> </td>
																		<td> <a href="/element/id-15c90cc9a9fc4d04b7f6d8468e97c5e3" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-e7e66010d82c46c98b8b24bac44bdd0a" target="element"> &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1085;&#1085;&#1072;&#1103; &#1087;&#1086;&#1095;&#1090;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-ad889d8ed81942a58337b7da6273f485" target="element">  </a> </td>
																		<td> <a href="/element/id-ad889d8ed81942a58337b7da6273f485" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-11d36eef947e478daa85228a393118c2" target="element"> &#1053;&#1086;&#1084;&#1077;&#1088; &#1090;&#1077;&#1083;&#1077;&#1092;&#1086;&#1085;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-9000277ac9474c9d99d41c3076341890" target="element">  </a> </td>
																		<td> <a href="/element/id-9000277ac9474c9d99d41c3076341890" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-01dd642c6f034560b73f06bfe7cb786b" target="element"> &#1053;&#1086;&#1084;&#1077;&#1088; &#1089;&#1074;&#1080;&#1076;&#1077;&#1090;&#1077;&#1083;&#1100;&#1089;&#1090;&#1074;&#1072; &#1086; &#1075;&#1086;&#1089;.&#1088;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1080; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-77b083fda9c345f78b33a82640e85626" target="element">  </a> </td>
																		<td> <a href="/element/id-77b083fda9c345f78b33a82640e85626" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-dae5cb42aa424e96b6379db81c93bd69" target="element"> &#1050;&#1086;&#1076; &#1050;&#1054;&#1055;&#1060; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-f5eff4986cf74cc88b2b3e716b9d6014" target="element">  </a> </td>
																		<td> <a href="/element/id-f5eff4986cf74cc88b2b3e716b9d6014" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-5ef4f420e0da4300b685486b2889aac3" target="element"> &#1056;&#1072;&#1079;&#1084;&#1077;&#1088;&#1085;&#1086;&#1089;&#1090;&#1100; &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103; (&#1050;&#1056;&#1055;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-8b6284c67fe74e3980261a04720d4bc4" target="element">  </a> </td>
																		<td> <a href="/element/id-8b6284c67fe74e3980261a04720d4bc4" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-fa06e0b17bdf4f6ba5bfa6be493e9dc3" target="element"> &#1050;&#1086;&#1076; &#1054;&#1050;&#1069;&#1044; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-2d5ce5e49c9a4793872306c7c4262d33" target="element">  </a> </td>
																		<td> <a href="/element/id-2d5ce5e49c9a4793872306c7c4262d33" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-efa531e92f4b4241911372a9748bd0df" target="element"> &#1050;&#1086;&#1076; &#1041;&#1077;&#1085;&#1077;&#1092;&#1080;&#1094;&#1080;&#1072;&#1088;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-ea182a48d6cc4c8faafff237ae0bfe20" target="element">  </a> </td>
																		<td> <a href="/element/id-ea182a48d6cc4c8faafff237ae0bfe20" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-259cb6fd2878477e876e0d4c367bf795" target="element"> &#1057;&#1086;&#1094;.&#1089;&#1077;&#1090;&#1100; &#1080;&#1083;&#1080; &#1074;&#1077;&#1073;-&#1089;&#1072;&#1081;&#1090; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-f866959d5a5f415e9c09d2404e73ea5d" target="element">  </a> </td>
																		<td> <a href="/element/id-f866959d5a5f415e9c09d2404e73ea5d" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-6ed29950d7934679a97c99dcfb623c04" target="element"> &#1060;&#1072;&#1082;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1072;&#1076;&#1088;&#1077;&#1089;&#1085;&#1099;&#1077; &#1089;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="/element/id-279b95627dd04cd0a46dbd12e8eeef50" target="element">  </a> </td>
																		<td> <a href="/element/id-279b95627dd04cd0a46dbd12e8eeef50" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="/element/id-9a12e2bd385e4078a3e0823a62ca84a4" target="element"> &#1070;&#1088;.&#1083;&#1080;&#1094;&#1086; (&#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1103;) </a> </td>
																		<td> <a href="/element/id-2c885bf5a1d24ce8a6fc9a525d9e8cc2" target="element"> &#1043;&#1086;&#1076; &#1086;&#1089;&#1085;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="/element/id-5f65a53cba6e46f7a3dd5a3d8502d979" target="element">  </a> </td>
																				<td> <a href="/element/id-5f65a53cba6e46f7a3dd5a3d8502d979" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-f9ba06167c8440f29b6ad3243b849984" target="element"> &#1041;&#1048;&#1053; </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-d1bcddd78fbb4925b2bb4a1418362cc1" target="element">  </a> </td>
																				<td> <a href="/element/id-d1bcddd78fbb4925b2bb4a1418362cc1" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e7e66010d82c46c98b8b24bac44bdd0a" target="element"> &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1085;&#1085;&#1072;&#1103; &#1087;&#1086;&#1095;&#1090;&#1072; </a> </td>
																				<td> <a href="/element/KZ-П-11-0000015" target="element"> &#1048;&#1057; &#1055;&#1069;&#1055; &#1056;&#1050; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-440de3760fff4a03bfce8c82ced2992b" target="element">  </a> </td>
																				<td> <a href="/element/id-440de3760fff4a03bfce8c82ced2992b" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-11d36eef947e478daa85228a393118c2" target="element"> &#1053;&#1086;&#1084;&#1077;&#1088; &#1090;&#1077;&#1083;&#1077;&#1092;&#1086;&#1085;&#1072; </a> </td>
																				<td> <a href="/element/KZ-П-11-0000015" target="element"> &#1048;&#1057; &#1055;&#1069;&#1055; &#1056;&#1050; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-3bff43bda1d74e52be9168a41859862f" target="element">  </a> </td>
																				<td> <a href="/element/id-3bff43bda1d74e52be9168a41859862f" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-01dd642c6f034560b73f06bfe7cb786b" target="element"> &#1053;&#1086;&#1084;&#1077;&#1088; &#1089;&#1074;&#1080;&#1076;&#1077;&#1090;&#1077;&#1083;&#1100;&#1089;&#1090;&#1074;&#1072; &#1086; &#1075;&#1086;&#1089;.&#1088;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1080; </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-362b768efb2f437db24d2359b84c027f" target="element">  </a> </td>
																				<td> <a href="/element/id-362b768efb2f437db24d2359b84c027f" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-dae5cb42aa424e96b6379db81c93bd69" target="element"> &#1050;&#1086;&#1076; &#1050;&#1054;&#1055;&#1060; </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f0ac0213ac9f44f4b882f41c433e1134" target="element">  </a> </td>
																				<td> <a href="/element/id-f0ac0213ac9f44f4b882f41c433e1134" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5ef4f420e0da4300b685486b2889aac3" target="element"> &#1056;&#1072;&#1079;&#1084;&#1077;&#1088;&#1085;&#1086;&#1089;&#1090;&#1100; &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103; (&#1050;&#1056;&#1055;) </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-b537b6ed611f4a6584ffeb521f22a92f" target="element">  </a> </td>
																				<td> <a href="/element/id-b537b6ed611f4a6584ffeb521f22a92f" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-fa06e0b17bdf4f6ba5bfa6be493e9dc3" target="element"> &#1050;&#1086;&#1076; &#1054;&#1050;&#1069;&#1044; </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-bcf8eab7c3d747a6b7e3e39c5b642411" target="element">  </a> </td>
																				<td> <a href="/element/id-bcf8eab7c3d747a6b7e3e39c5b642411" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-efa531e92f4b4241911372a9748bd0df" target="element"> &#1050;&#1086;&#1076; &#1041;&#1077;&#1085;&#1077;&#1092;&#1080;&#1094;&#1080;&#1072;&#1088;&#1072; </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-ae4011d4bc9d4caab18b3f3b7e39edc5" target="element">  </a> </td>
																				<td> <a href="/element/id-ae4011d4bc9d4caab18b3f3b7e39edc5" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-259cb6fd2878477e876e0d4c367bf795" target="element"> &#1057;&#1086;&#1094;.&#1089;&#1077;&#1090;&#1100; &#1080;&#1083;&#1080; &#1074;&#1077;&#1073;-&#1089;&#1072;&#1081;&#1090; </a> </td>
																				<td> <a href="/element/KZ-П-11-0000015" target="element"> &#1048;&#1057; &#1055;&#1069;&#1055; &#1056;&#1050; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-0c41b952380f47f4bcb98eb3633d68f2" target="element">  </a> </td>
																				<td> <a href="/element/id-0c41b952380f47f4bcb98eb3633d68f2" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d457d20a11bb4ababda378cecfd24551" target="element"> &#1053;&#1072;&#1080;&#1084;&#1077;&#1085;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																				<td> <a href="/element/KZ-П-09-0000011" target="element"> &#1043;&#1041;&#1044; &#1070;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-85d7d5b9a2314da8841d3ac953b5721d" target="element">  </a> </td>
																				<td> <a href="/element/id-85d7d5b9a2314da8841d3ac953b5721d" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-eb9db3f335184cb88c9dd97dea72c82f" target="element"> &#1070;&#1088;&#1080;&#1076;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1072;&#1076;&#1088;&#1077;&#1089;&#1085;&#1099;&#1077; &#1089;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="/element/KZ-П-05-0000143" target="element"> &#1043;&#1041;&#1044; &#1040;&#1056; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-0055534350d8481eafdc8940944c380c" target="element">  </a> </td>
																				<td> <a href="/element/id-0055534350d8481eafdc8940944c380c" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="/element/id-6ed29950d7934679a97c99dcfb623c04" target="element"> &#1060;&#1072;&#1082;&#1090;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1072;&#1076;&#1088;&#1077;&#1089;&#1085;&#1099;&#1077; &#1089;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="/element/KZ-П-11-0000015" target="element"> &#1048;&#1057; &#1055;&#1069;&#1055; &#1056;&#1050; </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>