<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Сельское хозяйство</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1057;&#1077;&#1083;&#1100;&#1089;&#1082;&#1086;&#1077; &#1093;&#1086;&#1079;&#1103;&#1081;&#1089;&#1090;&#1074;&#1086;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bab87cfe60924b6598827fd925f51c89.png" alt="Сельское хозяйство" usemap="#id-bab87cfe60924b6598827fd925f51c89map"/>
			   <map name="id-bab87cfe60924b6598827fd925f51c89map">
				  				<area shape="rect" coords="514,898,634,953" href="/element/id-ea03bf10946346d4a713d340a75ca19b"  target="element">
				  				<area shape="rect" coords="490,982,670,1066" href="/element/id-72f25013d8c54822904cb81773a3e046"  target="element">

				          <area shape="rect" coords="454,874,707,1078" href="../objects/id-cf9d3759689e400c9cf659bb1c05da89" target="element" >
				  				<area shape="rect" coords="166,910,286,965" href="/element/id-9cd9be2b91ae4d5aa77ca7cd241080dd"  target="element">
				  				<area shape="rect" coords="310,910,430,965" href="/element/id-ea03bf10946346d4a713d340a75ca19b"  target="element">
				  				<area shape="rect" coords="34,910,154,965" href="/element/id-2b70a7208dde45d2869f6809b534bbbd"  target="element">
				  				<area shape="rect" coords="310,994,430,1049" href="/element/id-8090fb0291fb42d6a17cf4b7d30f2ed7"  target="element">
				  				<area shape="rect" coords="34,994,154,1049" href="/element/id-6f9a49c64c4f484c866b6cdff8e593e3"  target="element">

				          <area shape="rect" coords="10,874,442,1078" href="../objects/id-8fba0d3de8554922a5eb365a21ae09db" target="element" >
				  				<area shape="rect" coords="946,598,1066,653" href="/element/id-6b707a7adc354a24bee78e195ffb8f00"  target="element">
				  				<area shape="rect" coords="946,694,1066,749" href="/element/KZ-П-02-0000001"  target="element">

				          <area shape="rect" coords="910,562,1126,766" href="../objects/id-4417274221254c44bbf5f2449c18e9fc" target="element" >
				  				<area shape="rect" coords="611,786,731,841" href="/element/id-2b70a7208dde45d2869f6809b534bbbd"  target="element">
				  				<area shape="rect" coords="466,694,586,749" href="/element/id-16658e7bf5714cb187a1a72eb7e920fd"  target="element">
				  				<area shape="rect" coords="622,598,742,653" href="/element/id-b11121b8fd844f3aa59bb8f556b41036"  target="element">
				  				<area shape="rect" coords="753,598,873,653" href="/element/id-1820cbc8f9a3442ca9f114dae46e7898"  target="element">
				  				<area shape="rect" coords="669,682,801,754" href="/element/id-776ed82cb3d048ad80812bbd2eb7f5ec"  target="element">
				  				<area shape="rect" coords="466,590,597,662" href="/element/id-7c6dcfe4e67c46cbb6ce17c544d467ff"  target="element">
				  				<area shape="rect" coords="466,778,586,850" href="/element/KZ-П-12-0000055"  target="element">

				          <area shape="rect" coords="454,562,898,862" href="../objects/id-7443febdf96747a8bf1119d26cd5cabe" target="element" >
				  				<area shape="rect" coords="310,682,430,737" href="/element/id-bbcfcdb16fc1464a8c2d4d4f289d1087"  target="element">
				  				<area shape="rect" coords="34,790,154,845" href="/element/id-16658e7bf5714cb187a1a72eb7e920fd"  target="element">
				  				<area shape="rect" coords="34,598,154,653" href="/element/id-fe5ed13156f1456185622f679ac11e01"  target="element">
				  				<area shape="rect" coords="298,766,430,838" href="/element/id-daf42991a60b44dea3c15e0593acc6b4"  target="element">
				  				<area shape="rect" coords="166,682,274,737" href="/element/id-d4388df8885e4890bd3c6b32d36bdc10"  target="element">
				  				<area shape="rect" coords="34,682,154,737" href="/element/KZ-П-20-0000287"  target="element">

				          <area shape="rect" coords="10,562,442,862" href="../objects/id-0c8cacc1d05f44f9a9a58b182f7db42d" target="element" >
				  		<area shape="rect" coords="754,70,874,125" href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2"  target="element">
				  				<area shape="rect" coords="1342,388,1462,443" href="/element/id-553b709887264d1db4c8c936fbe1a56b"  target="element">
				  				<area shape="rect" coords="1342,286,1462,341" href="/element/id-d4a4ce18a47f4017b47142a329606d9c"  target="element">
				  				<area shape="rect" coords="802,466,922,521" href="/element/id-06f70e3da10a4fa88d54cbee7559d2e1"  target="element">
				  				<area shape="rect" coords="466,179,586,234" href="/element/id-cc1324b7c68247299d6819d689a4aa81"  target="element">
				  				<area shape="rect" coords="178,388,298,443" href="/element/id-10e1f8efa59e44b4af5f50daef67e6a3"  target="element">
				  				<area shape="rect" coords="1090,166,1210,221" href="/element/id-KZ-ICTproject-e-Obraschenie"  target="element">
				  				<area shape="rect" coords="1079,70,1199,125" href="/element/id-9639615e25f44597b65e64a569300407"  target="element">
				  				<area shape="rect" coords="1198,388,1318,443" href="/element/KZ-П-20-0000277"  target="element">
				  				<area shape="rect" coords="1198,286,1318,341" href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c"  target="element">
				  				<area shape="rect" coords="34,388,154,443" href="/element/id-0075ede85e5745a1a5c4106ce07c8c04"  target="element">
				  				<area shape="rect" coords="322,388,442,443" href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8"  target="element">
				  				<area shape="rect" coords="1054,388,1174,443" href="/element/KZ-П-14-0000027"  target="element">
				  				<area shape="rect" coords="901,388,1021,443" href="/element/KZ-П-12-0000052"  target="element">
				  				<area shape="rect" coords="610,388,730,443" href="/element/id-7579b57eb68d4df8b15507afbf0b6306"  target="element">
				  				<area shape="rect" coords="610,466,730,521" href="/element/KZ-П-10-0000012"  target="element">
				  				<area shape="rect" coords="1054,286,1174,341" href="/element/id-d53e6882af584e5eb3f3272f6a777f57"  target="element">
				  				<area shape="rect" coords="903,286,1023,341" href="/element/id-4027909a9be6495b8692ded3e74b3134"  target="element">
				  				<area shape="rect" coords="754,286,874,341" href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741"  target="element">
				  				<area shape="rect" coords="610,286,730,341" href="/element/id-5fe973a5433545d8b43ff85c8da514c2"  target="element">
				  				<area shape="rect" coords="466,286,586,341" href="/element/id-739e8e0ec6214f85834411ea750be297"  target="element">
				  				<area shape="rect" coords="322,286,442,341" href="/element/id-7d262a86eab34ae3bfbde9989b410fc3"  target="element">
				  				<area shape="rect" coords="178,286,298,341" href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3"  target="element">
				  				<area shape="rect" coords="34,286,154,341" href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3"  target="element">
				  				<area shape="rect" coords="754,179,874,234" href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b"  target="element">
				  		        <area shape="rect" coords="903,169,1018,242" href="../objects/id-b9161fe2730941e48f31e8756c162758" target="element" >
				  				<area shape="rect" coords="898,70,1018,125" href="/element/id-65217eac17764c58848675482c198bb2"  target="element">
				  				<area shape="rect" coords="610,70,730,125" href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9"  target="element">
				  				<area shape="rect" coords="34,70,154,125" href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1"  target="element">
				  				<area shape="rect" coords="322,70,442,125" href="/element/id-03d4dbd5a0b4478890221e308e03f4c5"  target="element">
				  				<area shape="rect" coords="106,178,226,233" href="/element/KZ-П-19-0000212"  target="element">
				  				<area shape="rect" coords="178,70,298,125" href="/element/id-d710311fcf24447a91c8b1973b61be99"  target="element">
				  				<area shape="rect" coords="466,70,586,125" href="/element/id-bef92529e61b4766bf0fda22565cee92"  target="element">
				  				<area shape="rect" coords="322,178,442,233" href="/element/id-b627f80b8bd8405995fd6441ef2a80ea"  target="element">

				          <area shape="rect" coords="10,10,1487,539" href="../objects/id-3b6f4d1a982b4ea18fbfaea886bd03ec" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-3b6f4d1a982b4ea18fbfaea886bd03ec" target="element"> &#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1103;&#1102;&#1097;&#1080;&#1077;/&#1090;&#1080;&#1087;&#1086;&#1074;&#1086;&#1081; </a> </td>
									           <td> <a href="../objects/id-3b6f4d1a982b4ea18fbfaea886bd03ec" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
													    <td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
													    <td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
													    <td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-19-0000212" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
													    <td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
													    <td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element"> G(E)PPM </a> </td>
													    <td> <a href="/element/id-9d2fed02b2e64fa68108b22bedba0eb9" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element"> RMS </a> </td>
													    <td> <a href="/element/id-65217eac17764c58848675482c198bb2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-b9161fe2730941e48f31e8756c162758" target="element">  </a> </td>
											           <td> <a href="../objects/id-b9161fe2730941e48f31e8756c162758" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
													    <td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
													    <td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
													    <td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
													    <td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
													    <td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
													    <td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
													    <td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
													    <td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
													    <td> <a href="/element/KZ-П-10-0000012" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
													    <td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
													    <td> <a href="/element/KZ-П-12-0000052" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
													    <td> <a href="/element/KZ-П-14-0000027" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
													    <td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
													    <td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
													    <td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000277" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-9639615e25f44597b65e64a569300407" target="element"> SDT </a> </td>
													    <td> <a href="/element/id-9639615e25f44597b65e64a569300407" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-KZ-ICTproject-e-Obraschenie" target="element"> eOtinish </a> </td>
													    <td> <a href="/element/id-KZ-ICTproject-e-Obraschenie" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-10e1f8efa59e44b4af5f50daef67e6a3" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
													    <td> <a href="/element/id-10e1f8efa59e44b4af5f50daef67e6a3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-cc1324b7c68247299d6819d689a4aa81" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1087;&#1083;&#1072;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1088;&#1077;&#1089;&#1091;&#1088;&#1089;&#1086;&#1074; &#1057;/&#1061; </a> </td>
													    <td> <a href="/element/id-cc1324b7c68247299d6819d689a4aa81" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-06f70e3da10a4fa88d54cbee7559d2e1" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1079;&#1085;&#1072;&#1085;&#1080;&#1103;&#1084;&#1080; </a> </td>
													    <td> <a href="/element/id-06f70e3da10a4fa88d54cbee7559d2e1" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d4a4ce18a47f4017b47142a329606d9c" target="element"> CRM </a> </td>
													    <td> <a href="/element/id-d4a4ce18a47f4017b47142a329606d9c" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-553b709887264d1db4c8c936fbe1a56b" target="element"> &#1045;&#1055;&#1048;&#1056; &#1043;&#1054; </a> </td>
													    <td> <a href="/element/id-553b709887264d1db4c8c936fbe1a56b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
											    <td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0c8cacc1d05f44f9a9a58b182f7db42d" target="element"> &#1046;&#1080;&#1074;&#1086;&#1090;&#1085;&#1086;&#1074;&#1086;&#1076;&#1089;&#1090;&#1074;&#1086; </a> </td>
									           <td> <a href="../objects/id-0c8cacc1d05f44f9a9a58b182f7db42d" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/KZ-П-20-0000287" target="element"> &#1048;&#1057; &#1048;&#1057;&#1046; </a> </td>
													    <td> <a href="/element/KZ-П-20-0000287" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-d4388df8885e4890bd3c6b32d36bdc10" target="element"> &#1048;&#1040;&#1057; &#1056;&#1057;&#1046; </a> </td>
													    <td> <a href="/element/id-d4388df8885e4890bd3c6b32d36bdc10" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-daf42991a60b44dea3c15e0593acc6b4" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1086; &#1083;&#1072;&#1073;&#1086;&#1088;&#1072;&#1090;&#1086;&#1088;&#1085;&#1099;&#1084; &#1080;&#1089;&#1089;&#1083;&#1077;&#1076;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103;&#1084; &#1051;&#1048;&#1057; Qazlab  </a> </td>
													    <td> <a href="/element/id-daf42991a60b44dea3c15e0593acc6b4" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-fe5ed13156f1456185622f679ac11e01" target="element"> IMS (Information Management System) </a> </td>
													    <td> <a href="/element/id-fe5ed13156f1456185622f679ac11e01" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-bbcfcdb16fc1464a8c2d4d4f289d1087" target="element"> DM </a> </td>
													    <td> <a href="/element/id-bbcfcdb16fc1464a8c2d4d4f289d1087" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7443febdf96747a8bf1119d26cd5cabe" target="element"> &#1056;&#1072;&#1089;&#1090;&#1077;&#1085;&#1080;&#1077;&#1074;&#1086;&#1076;&#1089;&#1090;&#1074;&#1086; </a> </td>
									           <td> <a href="../objects/id-7443febdf96747a8bf1119d26cd5cabe" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/KZ-П-12-0000055" target="element"> &#1045;&#1040;&#1057;&#1059; </a> </td>
													    <td> <a href="/element/KZ-П-12-0000055" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-7c6dcfe4e67c46cbb6ce17c544d467ff" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1077;&#1083;&#1077;&#1082;&#1094;&#1080;&#1080; &#1080; &#1089;&#1086;&#1088;&#1090;&#1086;&#1080;&#1089;&#1087;&#1099;&#1090;&#1072;&#1085;&#1080;&#1077; </a> </td>
													    <td> <a href="/element/id-7c6dcfe4e67c46cbb6ce17c544d467ff" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-776ed82cb3d048ad80812bbd2eb7f5ec" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1087;&#1088;&#1086;&#1089;&#1083;&#1077;&#1078;&#1080;&#1074;&#1072;&#1077;&#1084;&#1086;&#1089;&#1090;&#1080; &#1074; &#1088;&#1072;&#1089;&#1090;&#1077;&#1085;&#1080;&#1077;&#1074;&#1086;&#1076;&#1089;&#1090;&#1074;&#1077; &#1086;&#1090; &#1087;&#1088;&#1086;&#1080;&#1079;&#1074;&#1086;&#1076;&#1080;&#1090;&#1077;&#1083;&#1103; &#1076;&#1086; &#1082;&#1086;&#1085;&#1077;&#1095;&#1085;&#1086;&#1075;&#1086; &#1087;&#1086;&#1090;&#1088;&#1077;&#1073;&#1080;&#1090;&#1077;&#1083;&#1103;  </a> </td>
													    <td> <a href="/element/id-776ed82cb3d048ad80812bbd2eb7f5ec" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-1820cbc8f9a3442ca9f114dae46e7898" target="element"> MMPS </a> </td>
													    <td> <a href="/element/id-1820cbc8f9a3442ca9f114dae46e7898" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-b11121b8fd844f3aa59bb8f556b41036" target="element"> CaS </a> </td>
													    <td> <a href="/element/id-b11121b8fd844f3aa59bb8f556b41036" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element"> AMS </a> </td>
													    <td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-4417274221254c44bbf5f2449c18e9fc" target="element"> &#1059;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1077; &#1079;&#1077;&#1084;&#1077;&#1083;&#1100;&#1085;&#1099;&#1084;&#1080; &#1088;&#1077;&#1089;&#1091;&#1088;&#1089;&#1072;&#1084;&#1080; </a> </td>
									           <td> <a href="../objects/id-4417274221254c44bbf5f2449c18e9fc" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/KZ-П-02-0000001" target="element"> &#1040;&#1048;&#1057; &#1043;&#1047;&#1050; </a> </td>
													    <td> <a href="/element/KZ-П-02-0000001" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element"> GIS </a> </td>
													    <td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8fba0d3de8554922a5eb365a21ae09db" target="element"> &#1057;&#1091;&#1073;&#1089;&#1080;&#1076;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077; &#1040;&#1055;&#1050; </a> </td>
									           <td> <a href="../objects/id-8fba0d3de8554922a5eb365a21ae09db" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-6f9a49c64c4f484c866b6cdff8e593e3" target="element"> &#1043;&#1048;&#1057;&#1057; </a> </td>
													    <td> <a href="/element/id-6f9a49c64c4f484c866b6cdff8e593e3" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-8090fb0291fb42d6a17cf4b7d30f2ed7" target="element"> QOLDAU.KZ </a> </td>
													    <td> <a href="/element/id-8090fb0291fb42d6a17cf4b7d30f2ed7" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
													    <td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-ea03bf10946346d4a713d340a75ca19b" target="element"> CRM </a> </td>
													    <td> <a href="/element/id-ea03bf10946346d4a713d340a75ca19b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-9cd9be2b91ae4d5aa77ca7cd241080dd" target="element"> DSS </a> </td>
													    <td> <a href="/element/id-9cd9be2b91ae4d5aa77ca7cd241080dd" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-cf9d3759689e400c9cf659bb1c05da89" target="element"> &#1056;&#1077;&#1075;&#1080;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1086;&#1077; &#1088;&#1072;&#1079;&#1074;&#1080;&#1090;&#1080;&#1077; &#1089;&#1077;&#1083;&#1100;&#1089;&#1082;&#1086;&#1075;&#1086; &#1093;&#1086;&#1079;&#1103;&#1081;&#1089;&#1090;&#1074;&#1072; </a> </td>
									           <td> <a href="../objects/id-cf9d3759689e400c9cf659bb1c05da89" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="/element/id-72f25013d8c54822904cb81773a3e046" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1074;&#1079;&#1072;&#1080;&#1084;&#1086;&#1076;&#1077;&#1081;&#1089;&#1090;&#1074;&#1080;&#1103; &#1085;&#1072;&#1089;&#1077;&#1083;&#1077;&#1085;&#1080;&#1103; &#1089; &#1089;&#1077;&#1083;&#1100;&#1089;&#1082;&#1086;&#1093;&#1086;&#1079;&#1103;&#1081;&#1089;&#1090;&#1074;&#1077;&#1085;&#1085;&#1086;&#1081; &#1086;&#1090;&#1088;&#1072;&#1089;&#1083;&#1100;&#1102; </a> </td>
													    <td> <a href="/element/id-72f25013d8c54822904cb81773a3e046" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="/element/id-ea03bf10946346d4a713d340a75ca19b" target="element"> CRM </a> </td>
													    <td> <a href="/element/id-ea03bf10946346d4a713d340a75ca19b" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-9d0d626b30fa4e0aa6985d7b417d46e5" target="element">  </a> </td>
																				<td> <a href="/element/id-9d0d626b30fa4e0aa6985d7b417d46e5" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-bef92529e61b4766bf0fda22565cee92" target="element"> G(e)RP </a> </td>
																				<td> <a href="/element/id-cc1324b7c68247299d6819d689a4aa81" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1087;&#1083;&#1072;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103; &#1088;&#1077;&#1089;&#1091;&#1088;&#1089;&#1086;&#1074; &#1057;/&#1061; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element">  </a> </td>
																				<td> <a href="/element/id-72206b3c4faa443da3e440dffe225099" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d710311fcf24447a91c8b1973b61be99" target="element"> FIS </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element">  </a> </td>
																				<td> <a href="/element/id-5ba8801b3f5a40ed86aedb755fe4a332" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-03d4dbd5a0b4478890221e308e03f4c5" target="element"> BI </a> </td>
																				<td> <a href="/element/id-b627f80b8bd8405995fd6441ef2a80ea" target="element"> SmartDataUkimet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element">  </a> </td>
																				<td> <a href="/element/id-7bb37a15014e4ae69fb377886e03426b" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-cbe492e3bce04b6eac92426d0c53f7c1" target="element"> SM </a> </td>
																				<td> <a href="/element/KZ-П-19-0000212" target="element"> &#1048;&#1057;&#1043;&#1055; </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element">  </a> </td>
																				<td> <a href="/element/id-d8a8de9d881b4c14ab2f7a66f55a030e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-3813bd93f0ef4c3799a0a12b2a473aa3" target="element"> AMS </a> </td>
																				<td> <a href="/element/id-0075ede85e5745a1a5c4106ce07c8c04" target="element"> &#1055;&#1054; "1&#1057; &#1073;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103;" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-2fc2a353460e4b7ea6c7ad8f3454540d" target="element">  </a> </td>
																				<td> <a href="/element/id-2fc2a353460e4b7ea6c7ad8f3454540d" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-e4c6f9070e32468b9e77e1dd8ac7daa3" target="element"> CSCW </a> </td>
																				<td> <a href="/element/id-10e1f8efa59e44b4af5f50daef67e6a3" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1086;&#1074;&#1084;&#1077;&#1089;&#1090;&#1085;&#1086;&#1081; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element">  </a> </td>
																				<td> <a href="/element/id-6e369aa121b04d80a1d46691af1c5fcd" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-7d262a86eab34ae3bfbde9989b410fc3" target="element"> DMS </a> </td>
																				<td> <a href="/element/id-3e97b4b3d85c4b2fa645348a50f13bc8" target="element"> &#1044;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1083;&#1086;&#1075; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-99bd2e3e6dd0436390d2ecf3c62a7929" target="element">  </a> </td>
																				<td> <a href="/element/id-99bd2e3e6dd0436390d2ecf3c62a7929" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-739e8e0ec6214f85834411ea750be297" target="element"> EIP </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element">  </a> </td>
																				<td> <a href="/element/id-c60224ff4653497b8e98d0afd27c1864" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-5fe973a5433545d8b43ff85c8da514c2" target="element"> HRM </a> </td>
																				<td> <a href="/element/id-7579b57eb68d4df8b15507afbf0b6306" target="element"> &#1077;-&#1178;&#1099;&#1079;&#1084;&#1077;&#1090; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-e99dc72dfbc743ebb4304049d1b70038" target="element">  </a> </td>
																				<td> <a href="/element/id-e99dc72dfbc743ebb4304049d1b70038" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/KZ-П-10-0000012" target="element"> &#1048;&#1055;&#1043;&#1054; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-bcd76fd3600e46278e6eb73ecccfc454" target="element">  </a> </td>
																				<td> <a href="/element/id-bcd76fd3600e46278e6eb73ecccfc454" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-c7feac00f1764fc5a7bf3a27b76f1741" target="element"> KBS </a> </td>
																				<td> <a href="/element/id-06f70e3da10a4fa88d54cbee7559d2e1" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1091;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1079;&#1085;&#1072;&#1085;&#1080;&#1103;&#1084;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element">  </a> </td>
																				<td> <a href="/element/id-4f77b3dd0d9e4cecb3aef093bf4b46a4" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-4027909a9be6495b8692ded3e74b3134" target="element"> LMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000052" target="element"> &#1048;&#1057; &#1043;&#1041;&#1044; &#1045;&#1051; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element">  </a> </td>
																				<td> <a href="/element/id-8174c6c402b1466ab73714871ecba803" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d53e6882af584e5eb3f3272f6a777f57" target="element"> PSS </a> </td>
																				<td> <a href="/element/KZ-П-14-0000027" target="element"> &#1040;&#1048;&#1048;&#1057; &#171;&#1069;&#1043;&#1047;&#187; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element">  </a> </td>
																				<td> <a href="/element/id-f2989196fea745de87a8986f1716fa4e" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-63d5c0a0b9e74400bcbd1faf411c293c" target="element"> ITAMS </a> </td>
																				<td> <a href="/element/KZ-П-20-0000277" target="element"> &#1040;&#1088;&#1093;&#1087;&#1086;&#1088;&#1090;&#1072;&#1083; &#1069;&#1055; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-3247a800dc094fcbb2c6df85fb974381" target="element">  </a> </td>
																				<td> <a href="/element/id-3247a800dc094fcbb2c6df85fb974381" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-9639615e25f44597b65e64a569300407" target="element"> SDT </a> </td>
																				<td> <a href="/element/id-KZ-ICTproject-e-Obraschenie" target="element"> eOtinish </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-5e61dc0be0df4f7bbddba6f1d7fbc23d" target="element">  </a> </td>
																				<td> <a href="/element/id-5e61dc0be0df4f7bbddba6f1d7fbc23d" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-d4a4ce18a47f4017b47142a329606d9c" target="element"> CRM </a> </td>
																				<td> <a href="/element/id-553b709887264d1db4c8c936fbe1a56b" target="element"> &#1045;&#1055;&#1048;&#1056; &#1043;&#1054; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element">  </a> </td>
																		<td> <a href="/element/id-5505b80f76d64d438c9a061c82de890e" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="/element/id-81d4f1a6d7da4f29b415860d1d54b6f2" target="element"> IVMS </a> </td>
																		<td> <a href="/element/id-e511ddc4a5a942bdb07929e8fa4c281b" target="element"> www.invest.gov.kz </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-c25fcc7a8bff48fdab4ad2e3f9a8ef98" target="element">  </a> </td>
																				<td> <a href="/element/id-c25fcc7a8bff48fdab4ad2e3f9a8ef98" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-fe5ed13156f1456185622f679ac11e01" target="element"> IMS (Information Management System) </a> </td>
																				<td> <a href="/element/KZ-П-20-0000287" target="element"> &#1048;&#1057; &#1048;&#1057;&#1046; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-47913994a3384e32b9b9fb143317cf37" target="element">  </a> </td>
																				<td> <a href="/element/id-47913994a3384e32b9b9fb143317cf37" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-fe5ed13156f1456185622f679ac11e01" target="element"> IMS (Information Management System) </a> </td>
																				<td> <a href="/element/id-d4388df8885e4890bd3c6b32d36bdc10" target="element"> &#1048;&#1040;&#1057; &#1056;&#1057;&#1046; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-d8edf5a9ef13428f82c64dd8633d75e5" target="element">  </a> </td>
																				<td> <a href="/element/id-d8edf5a9ef13428f82c64dd8633d75e5" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element"> AMS </a> </td>
																				<td> <a href="/element/KZ-П-20-0000287" target="element"> &#1048;&#1057; &#1048;&#1057;&#1046; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-330497e225054b849e1fd796c8b77cf1" target="element">  </a> </td>
																				<td> <a href="/element/id-330497e225054b849e1fd796c8b77cf1" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element"> AMS </a> </td>
																				<td> <a href="/element/id-d4388df8885e4890bd3c6b32d36bdc10" target="element"> &#1048;&#1040;&#1057; &#1056;&#1057;&#1046; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-0eca5f7a0afc490093dc83425950ef49" target="element">  </a> </td>
																				<td> <a href="/element/id-0eca5f7a0afc490093dc83425950ef49" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-bbcfcdb16fc1464a8c2d4d4f289d1087" target="element"> DM </a> </td>
																				<td> <a href="/element/id-daf42991a60b44dea3c15e0593acc6b4" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1087;&#1086; &#1083;&#1072;&#1073;&#1086;&#1088;&#1072;&#1090;&#1086;&#1088;&#1085;&#1099;&#1084; &#1080;&#1089;&#1089;&#1083;&#1077;&#1076;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103;&#1084; &#1051;&#1048;&#1057; Qazlab  </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-66dffc36a3f842eda581ecc2b7973b53" target="element">  </a> </td>
																				<td> <a href="/element/id-66dffc36a3f842eda581ecc2b7973b53" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-1820cbc8f9a3442ca9f114dae46e7898" target="element"> MMPS </a> </td>
																				<td> <a href="/element/id-776ed82cb3d048ad80812bbd2eb7f5ec" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1087;&#1088;&#1086;&#1089;&#1083;&#1077;&#1078;&#1080;&#1074;&#1072;&#1077;&#1084;&#1086;&#1089;&#1090;&#1080; &#1074; &#1088;&#1072;&#1089;&#1090;&#1077;&#1085;&#1080;&#1077;&#1074;&#1086;&#1076;&#1089;&#1090;&#1074;&#1077; &#1086;&#1090; &#1087;&#1088;&#1086;&#1080;&#1079;&#1074;&#1086;&#1076;&#1080;&#1090;&#1077;&#1083;&#1103; &#1076;&#1086; &#1082;&#1086;&#1085;&#1077;&#1095;&#1085;&#1086;&#1075;&#1086; &#1087;&#1086;&#1090;&#1088;&#1077;&#1073;&#1080;&#1090;&#1077;&#1083;&#1103;  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-9afa8849f2094f7183415467905d72bc" target="element">  </a> </td>
																				<td> <a href="/element/id-9afa8849f2094f7183415467905d72bc" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-b11121b8fd844f3aa59bb8f556b41036" target="element"> CaS </a> </td>
																				<td> <a href="/element/id-776ed82cb3d048ad80812bbd2eb7f5ec" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1087;&#1088;&#1086;&#1089;&#1083;&#1077;&#1078;&#1080;&#1074;&#1072;&#1077;&#1084;&#1086;&#1089;&#1090;&#1080; &#1074; &#1088;&#1072;&#1089;&#1090;&#1077;&#1085;&#1080;&#1077;&#1074;&#1086;&#1076;&#1089;&#1090;&#1074;&#1077; &#1086;&#1090; &#1087;&#1088;&#1086;&#1080;&#1079;&#1074;&#1086;&#1076;&#1080;&#1090;&#1077;&#1083;&#1103; &#1076;&#1086; &#1082;&#1086;&#1085;&#1077;&#1095;&#1085;&#1086;&#1075;&#1086; &#1087;&#1086;&#1090;&#1088;&#1077;&#1073;&#1080;&#1090;&#1077;&#1083;&#1103;  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-9e6448d82e314b499c3dc4212e01ce16" target="element">  </a> </td>
																				<td> <a href="/element/id-9e6448d82e314b499c3dc4212e01ce16" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element"> AMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000055" target="element"> &#1045;&#1040;&#1057;&#1059; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="/element/id-73cbc59efcc0414aadc587fd1b0d2df2" target="element">  </a> </td>
																				<td> <a href="/element/id-73cbc59efcc0414aadc587fd1b0d2df2" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-16658e7bf5714cb187a1a72eb7e920fd" target="element"> AMS </a> </td>
																				<td> <a href="/element/id-7c6dcfe4e67c46cbb6ce17c544d467ff" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1089;&#1077;&#1083;&#1077;&#1082;&#1094;&#1080;&#1080; &#1080; &#1089;&#1086;&#1088;&#1090;&#1086;&#1080;&#1089;&#1087;&#1099;&#1090;&#1072;&#1085;&#1080;&#1077; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-08a1c1cdb8fb45289e3d1d82a5098796" target="element">  </a> </td>
																				<td> <a href="/element/id-08a1c1cdb8fb45289e3d1d82a5098796" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
																				<td> <a href="/element/KZ-П-12-0000055" target="element"> &#1045;&#1040;&#1057;&#1059; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-165c062b93134a51ad8df345cd1ded41" target="element">  </a> </td>
																				<td> <a href="/element/id-165c062b93134a51ad8df345cd1ded41" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-6b707a7adc354a24bee78e195ffb8f00" target="element"> GIS </a> </td>
																				<td> <a href="/element/KZ-П-02-0000001" target="element"> &#1040;&#1048;&#1057; &#1043;&#1047;&#1050; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-487864388c6542a2a3bcf7f152a37176" target="element">  </a> </td>
																				<td> <a href="/element/id-487864388c6542a2a3bcf7f152a37176" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-2b70a7208dde45d2869f6809b534bbbd" target="element"> BPMS </a> </td>
																				<td> <a href="/element/id-6f9a49c64c4f484c866b6cdff8e593e3" target="element"> &#1043;&#1048;&#1057;&#1057; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-e9927b01562546e0bf43454510734713" target="element">  </a> </td>
																				<td> <a href="/element/id-e9927b01562546e0bf43454510734713" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-ea03bf10946346d4a713d340a75ca19b" target="element"> CRM </a> </td>
																				<td> <a href="/element/id-8090fb0291fb42d6a17cf4b7d30f2ed7" target="element"> QOLDAU.KZ </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="/element/id-f0e2bbecf48a42759bcfb60c12b258d0" target="element">  </a> </td>
																				<td> <a href="/element/id-f0e2bbecf48a42759bcfb60c12b258d0" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-9cd9be2b91ae4d5aa77ca7cd241080dd" target="element"> DSS </a> </td>
																				<td> <a href="/element/id-6f9a49c64c4f484c866b6cdff8e593e3" target="element"> &#1043;&#1048;&#1057;&#1057; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="/element/id-449c1beae9c54657946d403623f22416" target="element">  </a> </td>
																				<td> <a href="/element/id-449c1beae9c54657946d403623f22416" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="/element/id-ea03bf10946346d4a713d340a75ca19b" target="element"> CRM </a> </td>
																				<td> <a href="/element/id-72f25013d8c54822904cb81773a3e046" target="element"> &#1057;&#1077;&#1088;&#1074;&#1080;&#1089; &#1074;&#1079;&#1072;&#1080;&#1084;&#1086;&#1076;&#1077;&#1081;&#1089;&#1090;&#1074;&#1080;&#1103; &#1085;&#1072;&#1089;&#1077;&#1083;&#1077;&#1085;&#1080;&#1103; &#1089; &#1089;&#1077;&#1083;&#1100;&#1089;&#1082;&#1086;&#1093;&#1086;&#1079;&#1103;&#1081;&#1089;&#1090;&#1074;&#1077;&#1085;&#1085;&#1086;&#1081; &#1086;&#1090;&#1088;&#1072;&#1089;&#1083;&#1100;&#1102; </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>