<!DOCTYPE html>
<html>
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title></title>
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Flex:wght@600;700;800&display=swap" rel="stylesheet">
    </head>
</head>
<body>
    <ul class="color-list">
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #0099cc; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Объект данных</div>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #ffffff; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Атрибут имеющий <br> эталонный источник</div>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #d3d3d3; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Атрибут неимеющий <br> эталонный источник</div>
        </li>
    </ul>
</body>
</html>