<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Архитектурный портал электронного правительства</title>
  <link rel="shortcut icon" href="assets/image/favicon.ico">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Flex:wght@600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/libs/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/style.min.css">
  <link rel="stylesheet" href="assets/css/libs/select2.min.css">
  <link rel="stylesheet" href="assets/css/softdeco.css">
</head>

<body>

<div class="body-wrapper">
<header class="header">
  <div class="container container_large">
    <div class="header__inner">
		  <div class="header__column header__column_left"></div>
			<a class="header__logo logo" href="https://demo.govarch.kz">
				<img src="assets/image/logo_ru.png" height="45" alt="Архитектурный портал электронного правительства" title="Архитектурный портал электронного правительства">
			</a>

            <div class="header__column header__column_right">
              {{ if not .IsAuthenticated }}
                <a class="header__auth btn" href="/login">Авторизация</a>
              {{ else }}
                <a class="header__auth btn" href="/logout">Выйти</a>
              {{ end }}
            </div>
		</div>
	</div>
</header>
        
<main class="content">
  <section class="intro">
    <div class="intro__bg">
      <picture>
        <img src="assets/image/intro-bg.jpg" alt="Background">
      </picture>
    </div>
    <div class="container">
      <div class="intro__inner">
        <h1 class="intro__title">Архитектура электронного<br>правительства</h1>
        <div class="intro__buttons">
          <a class="intro__buttons-item btn btn_icon btn_white" href="/kmd">
            Концептуальная модель данных
          </a>
          <a class="intro__buttons-item btn btn_icon btn_white" href="/map">
            Карта процессов
          </a>
          <a class="intro__buttons-item btn btn_icon btn_white" href="/service">
            Сервисы
          </a>
          <div></div>
          <a class="intro__buttons-item btn btn_icon btn_white" href="/arch_model">
            Модель доменной архитектуры
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
</div>
  
  
  
  <script src="/assets/js/libs/jquery-3.7.0.min.js"></script>
  <script src="/assets/js/libs/jquery-ui.min.js"></script>
  <script src="/assets/js/libs/jquery.validate.min.js"></script>
  <script src="/assets/js/libs/autosize.min.js"></script>
  <script src="/assets/js/libs/select2.min.js"></script>
  <script src="/assets/js/main.min.js"></script>
  
</body>
</html>