<!DOCTYPE html>
<html>
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title></title>
        <link type="text/css" rel="stylesheet" href="assets/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Flex:wght@600;700;800&display=swap" rel="stylesheet">
    </head>
</head>
<body>
    <ul class="color-list">
        <li class="color-list-item">
            <li class="color-list-item">
                <div class="color-icon" style="background-color: #800000; border: 1px solid black;"></div>
                <div style="margin-left: 10px; font-size: 14px;">Наименование домена</div>
            </li>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #008CBA; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Направление деятельности</div>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #214F6E; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Управляющий тип процесса</div>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #21335C; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Отраслевой тип процесса</div>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #348B9E; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Типовой тип процесса</div>
        </li>
        <li class="color-list-item">
            <div class="color-icon" style="background-color: #A9A9A9; border: 1px solid black;"></div>
            <div style="margin-left: 10px; font-size: 14px;">Неопределен</div>
        </li>
    </ul>
</body>
</html>